<app-card *ngIf="!individualViewFlag">
    <div class="row">
        <div class="col-sm-12" id="float-action">
            <app-card blockClass="pt-2 pb-0">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-1">
                                <label class="pl-4 col-form-label">Category <span class="asterisk">*</span></label>
                            </div>
                            <div class="col-sm-2">
                                <angular2-multiselect name="categoryName" [data]="this.categoryList"
                                    [(ngModel)]="category" (ngModelChange)="navigateToTestCase()"
                                    #categoryNameModal="ngModel" required [settings]="categorySettings">
                                </angular2-multiselect>
                            </div>
                            <div class="col-sm-4">
                                <div class="row" *ngIf="tabName=='onGoing'">
                                    <label class="pl-4 col-form-label">Select Test Run<span
                                            class="asterisk">*</span></label>
                                    <div class="col-sm-8">
                                        <angular2-multiselect name="testRunName" [data]="this.testRunList"
                                            [(ngModel)]="testRun" (ngModelChange)="loadTestCases(this.tabName)"
                                            #testRunNameModal="ngModel" required [settings]="testRunSettings">
                                        </angular2-multiselect>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <a *ngIf="permission.publishButtonFlag && isSelectedPublishData && !isWorkflowDocumentOrderSequence"
                                    href="javascript:"><img class="image-radius rounded-0 img-30 p-t-5"
                                        src="assets/icon/png-icons/approval.png" alt="Submit For Approval"
                                        placement="bottom" ngbTooltip="Submit For Approval"
                                        (click)="publishConfirm()"></a>
                            </div>
                            <div class="col-sm-4 text-right">
                                <a role="button" *ngIf="this.isMultiplePDF"><i
                                        (click)="multipleDocumentPreview(false,'pdf');" placement="top" container="body"
                                        ngbTooltip="Download Pdf File"
                                        class="font-size-34px text-danger icofont icofont-file-pdf"
                                        title="Download Pdf File"></i>&nbsp;</a>

                                <a role="button" *ngIf="this.isMultiplePDF"><i
                                        (click)="multipleDocumentPreview(false,'docx');" placement="top"
                                        container="body" ngbTooltip="Download Doc File"
                                        class="font-size-34px text-primary icofont icofont-file-word"
                                        title="Download Doc File"></i></a>

                                <a *ngIf="permission.userInWorkFlow && permission.exportButtonFlag && this.tabName=='summary'"
                                    href="javascript:" class="m-r-15"><img class="image-radius rounded-0 img-25 p-t-5"
                                        src="assets/icon/png-icons/csvExport.png" alt="CSV Export" placement="bottom"
                                        ngbTooltip="CSV Export" (click)="excelExport()"></a>

                                <a *ngIf="permission.userInWorkFlow" href="javascript:" class="m-r-15"><img
                                        class="image-radius rounded-0 img-25 p-t-5" src="assets/icon/png-icons/menu.png"
                                        alt="Table of Content" placement="bottom" ngbTooltip="Table of Content"
                                        (click)="onClickTableOfContent()"></a>

                                <a *ngIf="permission.userInWorkFlow && tabName=='onGoing' || tabName=='completed'"
                                    href="javascript:"><img class="image-radius rounded-0 img-30 p-t-5"
                                        src="assets/icon/png-icons/forum.png" alt="Forum" placement="bottom"
                                        ngbTooltip="Forum" (click)="openDocumentForum()"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="messages text-danger">{{workflowMessage}}</div>
                        <div class="messages text-danger" *ngIf="tab && tab.activeId=='onGoing' && documentLock">Note* :
                            Document is locked, Navigate to summary page to unlock a document.</div>
                    </div>
                </div>
            </app-card>
        </div>
    </div>
    <div class="row" *ngIf="category.length>0">
        <div class="col-sm-12">
            <br><br>
            <div *ngIf="tab && tab.activeId=='onGoing' && documentLock"><br></div>
            <ngb-tabset #testCaseTab="ngbTabset" [(activeId)]="tabName" (tabChange)="loadTestCases($event.nextId);">
                <ngb-tab id="summary" title="Summary">
                    <ng-template ngbTabContent>
                        <app-individual-document-summary [permissionConstant]="category[0].id"
                            (onCloseSummary)="loadPermissions();"></app-individual-document-summary>
                    </ng-template>
                </ngb-tab>
                <ngb-tab id="onGoing" title="On Going">
                    <ng-template ngbTabContent>
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="col-form-label float-right">Search
                                    <input type="search" [(ngModel)]="filterQuery"
                                        (ngModelChange)="this.configService.helper.setPaginator(table)"
                                        class="form-control input-sm full-data-search" placeholder="search"></label>
                            </div>
                            <div class="col-sm-12">
                                <ngx-datatable [scrollbarH]="true" #myTable class="data-table dt-chk"
                                    [rows]='testCaseList | IqtcPipeFilter : filterQuery' [limit]="30"
                                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'">
                                    <ngx-datatable-column *ngIf="this.permission.publishButtonFlag" name="Select"
                                        [width]="70" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                                        [resizeable]="false">
                                        <ng-template class="datatable-checkbox" ngx-datatable-header-template
                                            let-row="row">
                                            <div class="checkbox-fade fade-in-primary datatable-header-cell-label">
                                                <label *ngIf="!filterQuery && testCaseList.length !=0 " container="body"
                                                    placement="right" triggers="mouseenter:mouseleave"
                                                    ngbPopover="Select All">
                                                    <input type="checkbox" [checked]="selectAll"
                                                        (click)="selectAllDataForSubmit($event);" />
                                                    <span class="cr"><i
                                                            class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                </label>
                                            </div>
                                        </ng-template>

                                        <ng-template class="datatable-checkbox" ngx-datatable-cell-template
                                            let-row="row" let-isSelected="isSelected"
                                            let-onCheckboxChangeFn="onCheckboxChangeFn">
                                            <div class="checkbox-fade fade-in-primary"
                                                *ngIf="(row.discrepancyForm==0 && row['status'] !== 'Fail') || ( row['status'] === 'Fail'  && !row.reTestFlag)">
                                                <label container="body" placement="right"
                                                    triggers="mouseenter:mouseleave"
                                                    ngbPopover="{{ row['status'] === 'Fail'  && row.reTestFlag ? 'TC failed! Please create Discrepancy Form' : ((row['status'] === null || row['status'] === '')?'Please select status':((row['status'] === 'In-Progress')?'Document is In Progress':'Click to select'))}}">
                                                    <input
                                                        [disabled]="(row['status'] === 'Fail' && row.reTestFlag )||(row['status'] === null || row['status'] === '') || (row['status'] === 'In-Progress')"
                                                        type="checkbox" name="{{row['testCaseCode']}}"
                                                        [checked]="row.publishedflag"
                                                        (change)="row.publishedflag=!row.publishedflag;onChangePublishData();" />
                                                    <span class="cr"><i
                                                            class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                </label>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Test Id" [width]="50">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <strong
                                                [class]="row.discrepancyForm!=0?'text-muted':''">{{row['testCaseCode']}}</strong>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Test Description">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <label
                                                [class]="row.discrepancyForm!=0?'text-muted':''">{{row['description']}}</label>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Status">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <span *ngIf="!row.flag"
                                                [ngStyle]="{'background-color': this.configService.helper.getTestCaseStatusColors(row['status']) }"
                                                class="badge width-100px black font-size-16px"
                                                title="{{ row['status'] === 'Fail' && !row.reTestFlag ?  'Failed!, Create Discrepancy':'Click to edit'}}"
                                                (click)="editStatus(row)">
                                                <ng-container *ngIf="!row.status">
                                                    <label>No Run</label>
                                                </ng-container>
                                                <ng-container *ngIf="row.status">
                                                    <label>{{row['status']}}</label>
                                                </ng-container>
                                            </span>
                                            <select *ngIf="row.status!=='Fail' && row.flag"
                                                [disabled]="!this.permission.updateButtonFlag" [(ngModel)]="row.status"
                                                name="status" (change)="changeStatus(row)">
                                                <option value="" disabled selected>Select Status</option>
                                                <option value="NA">NA</option>
                                                <option value="In-Progress">In-Progress</option>
                                                <option value="Pass">Pass</option>
                                                <option value="Fail">Fail</option>
                                            </select>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Document Status">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <label
                                                [class]="row.discrepancyForm!=0?'text-muted':''">{{row['approvedStatus']}}</label>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Action">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <ng-template #popContent>
                                                <span class="text-left">
                                                    <div><b>Status :</b>&nbsp; {{row['approvedStatus']}}</div>
                                                    <div><b>Created By :</b>&nbsp; {{row['createdBy']}}</div>
                                                    <div><b>Created On :</b>&nbsp;{{row['displayCreatedTime']}}</div>
                                                    <div><b>Last Modified By : </b> {{row['updatedBy']}}</div>
                                                    <div><b>Last Modified On : </b>{{row['displayUpdatedTime'] }}</div>
                                                </span>
                                            </ng-template>
                                            <a container="body" href="javascript:;" class="m-r-15 crm-action-info"
                                                placement="right" (click)="loadDocumentCommentLog(row)" placement="top"
                                                [ngbTooltip]="popContent">
                                                <i class="icofont icofont-info-square info"></i>
                                            </a>
                                            <a container="body"
                                                *ngIf="this.permission.updateButtonFlag && row['status'] !== 'Fail' && row['canExecute'] "
                                                (click)="edit(row)" class="m-r-15 crm-action-edit" placement="top"
                                                ngbTooltip="Edit">
                                                <i class="icofont icofont-edit edit"></i>
                                            </a>
                                            <a container="body" *ngIf="this.permission.viewButtonFlag"
                                                href="javascript:;" class="m-r-15 crm-action-view" (click)="view(row);"
                                                data-ng-open="modalSmall" placement="top" ngbTooltip="View">
                                                <i class="icofont icofont-resize view"></i>
                                            </a>
                                            <a container="body"
                                                *ngIf="this.permission.updateButtonFlag && row['status'] !== 'Fail' && row['canExecute']"
                                                href="javascript:;" class="m-r-15 crm-action-info" placement="right"
                                                placement="top" ngbTooltip="Screen Recorder"
                                                (click)="doScreenRecording(row)">
                                                <i class="icofont icofont-video video"></i>
                                            </a>
                                            <a container="body"
                                                *ngIf="row['status'] === 'Fail' && row['isDFAvalible'] !== 'Y' "
                                                href="javascript:;" class="m-r-15 crm-action-info" placement="right"
                                                (click)="createDfModal.show();onClickCreateDFModal(row);"
                                                placement="top" ngbTooltip="Create DF">
                                                <i class="icofont icofont-ebook"></i>
                                            </a>
                                            <a container="body"
                                                *ngIf="row['status'] === 'Fail' && row['isDFAvalible'] === 'Y' "
                                                href="javascript:;" class="m-r-15 crm-action-view"
                                                data-ng-open="modalSmall" [routerLink]="['/df/view-df']"
                                                [queryParams]="{ id: row.id,status:'/tc-execution/'+row.constantName,testcase:'true'}"
                                                [skipLocationChange]="true" placement="top" ngbTooltip="View DF">
                                                <i class="text-primary icofont icofont-expand"></i>
                                            </a>
                                            <a container="body"
                                                *ngIf="riskWorkFlowPer && row['status'] === 'Fail' && row['riskIdForFailedTestCase']==0"
                                                href="javascript:;" class="m-r-15 crm-action-info" placement="right"
                                                (click)="navigateToRisk(row)" placement="top" ngbTooltip="Create Risk">
                                                <i class="text-black icofont icofont-login"></i>
                                            </a>
                                            <a container="body" *ngIf="row['riskIdForFailedTestCase']!=0"
                                                href="javascript:;" class="m-r-15 crm-action-view"
                                                data-ng-open="modalSmall" [routerLink]="['/riskAssessment']"
                                                [queryParams]="{ id: row.riskIdForFailedTestCase,status:'/tc-execution/'+row.constantName}"
                                                [skipLocationChange]="true" placement="top" ngbTooltip="View Risk">
                                                <i class="text-primary icofont icofont-expand"></i>
                                            </a>
                                            <a container="body" *ngIf="permission.viewButtonFlag && row.imageFlag"
                                                href="javascript:;" (click)="viewFileList(row,true)"
                                                class="m-r-15 crm-action-view" placement="top" ngbTooltip="View Images">
                                                <i class="text-primary icofont icofont-image"></i>
                                            </a>
                                            <a container="body" *ngIf="permission.viewButtonFlag && row.videoFlag"
                                                href="javascript:;" (click)="viewFileList(row,false)"
                                                class="m-r-15 crm-action-view" placement="top" ngbTooltip="View Videos">
                                                <i class="text-primary icofont icofont-ui-video-play"></i>
                                            </a>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab id="completed" title="Completed Items">
                    <ng-template ngbTabContent>
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="col-form-label float-right">Search
                                    <input type="search" [(ngModel)]="filterQuery"
                                        (ngModelChange)="this.configService.helper.setPaginator(table)"
                                        class="form-control input-sm full-data-search" placeholder="search"></label>
                            </div>
                            <div class="col-sm-12">
                                <ngx-datatable [scrollbarH]="true" #myTable class="data-table dt-chk"
                                    [rows]='testCaseList | IqtcPipeFilter : filterQuery' [columnMode]="'force'"
                                    [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true"
                                    [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
                                    (page)="setPage($event)">

                                    <ngx-datatable-column name="Test Run Name" [width]="50">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <label>{{row['testRunName']}}</label>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Test Id" [width]="50">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <strong>{{row['testCaseCode']}} {{row['revisionNumber']}} </strong>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Test Description">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <label>{{row['description']}}</label>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Status">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <label
                                                [ngStyle]="{'background-color': this.configService.helper.getTestCaseStatusColors(row['status']) }"
                                                class="badge width-100px black font-size-16px">{{row['status']}}</label>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Document Status">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <label>{{row['approvedStatus']}}</label>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Action">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <ng-template #popContent>
                                                <span class="text-left">
                                                    <div><b>Status :</b>&nbsp; {{row['approvedStatus']}}</div>
                                                    <div><b>Created By :</b>&nbsp; {{row['createdBy']}}</div>
                                                    <div><b>Created On :</b>&nbsp;{{row['displayCreatedTime']}}</div>
                                                    <div><b>Last Modified By : </b> {{row['updatedBy']}}</div>
                                                    <div><b>Last Modified On : </b>{{row['displayUpdatedTime'] }}</div>
                                                </span>
                                            </ng-template>
                                            <a container="body" href="javascript:;"
                                                class="m-r-15 crm-action-info text-muted text-primary" placement="right"
                                                (click)="loadDocumentCommentLog(row)" placement="top"
                                                [ngbTooltip]="popContent">
                                                <i class="icofont icofont-info-square info"></i>
                                            </a>
                                            <a container="body" *ngIf="permission.viewButtonFlag" href="javascript:;"
                                                class="m-r-15 crm-action-view text-muted text-warning"
                                                (click)="view(row);" data-ng-open="modalSmall" placement="top"
                                                ngbTooltip="View">
                                                <i class="icofont icofont-resize view"></i>
                                            </a>
                                            <a container="body" *ngIf="permission.viewButtonFlag && row.imageFlag"
                                                href="javascript:;" (click)="viewFileList(row,true)"
                                                class="m-r-15 crm-action-view text-muted text-warning" placement="top"
                                                ngbTooltip="View Images">
                                                <i class="text-primary icofont icofont-image"></i>
                                            </a>
                                            <a container="body" *ngIf="permission.viewButtonFlag && row.videoFlag"
                                                href="javascript:;" (click)="viewFileList(row,false)"
                                                class="m-r-15 crm-action-view text-muted text-warning" placement="top"
                                                ngbTooltip="View Videos">
                                                <i class="text-primary icofont icofont-ui-video-play"></i>
                                            </a>
                                        </ng-template>

                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab id="documentForms" title="Document Forms">
                    <ng-template ngbTabContent>
                        <app-document-forms [permissionConstant]="category[0].id"></app-document-forms>
                    </ng-template>
                </ngb-tab>
                <ngb-tab id="approve" title="Approve / PDF View">
                    <ng-template ngbTabContent>
                        <app-individual-document-workflow [permissionConstant]="category[0].id"
                            (onClose)="loadTestCases('approve');">
                        </app-individual-document-workflow>
                    </ng-template>
                </ngb-tab>
                <ngb-tab id="feedback" title="Feedback">
                    <ng-template ngbTabContent>
                        <br>
                        <app-document-forum #forumView [constant]="category[0].id" [isDocumentWorkFlow]="true"
                            [documentList]="this.commentsDocumentsList"></app-document-forum>
                    </ng-template>
                </ngb-tab>
                <ngb-tab id="audit" title="Audit Trail">
                    <ng-template ngbTabContent>
                        <app-audit-trail-view #auditView [permission]="this.category[0].id"></app-audit-trail-view>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</app-card>

<div *ngIf="individualViewFlag">
    <test-case-detail [category]="this.category[0].id" [id]="id" [tab]="this.tabName" [backUrl]="backUrl"
        (onCancel)="closeView()"></test-case-detail>
</div>

<app-document-status-comment-log #documentcomments></app-document-status-comment-log>
<app-view-testcase-file-list #viewFileOfTestCase></app-view-testcase-file-list>
<div *ngIf="this.category.length>0">
    <app-individual-document-forum #forumView [constant]="this.category[0].id"
        [documentList]="this.commentsDocumentsList"></app-individual-document-forum>
</div>

<app-modal-basic #createDfModal [dialogClass]="'modal-md'" [hideHeader]="false" [hideFooter]="false">
    <div class="app-modal-header">
        <h4 class="modal-title">Discrepancy Form</h4>
        <button type="button" class="close basic-close" (click)="createDfModal.hide();">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group row" *ngIf="!isUsingExistingDF">
                    <div class="col-sm-12 text-center">
                        <button type="button" class="btn btn-sm btn-primary waves-effect waves-light m-r-10"
                            [routerLink]="['/df/add-df']"
                            [queryParams]="{ id: selectedDataForCreateDF.id, backUrl:'/tc-execution/'+selectedDataForCreateDF.constantName}"
                            [skipLocationChange]="true">Create New</button>
                        <button *ngIf="this.dfDataForTestcase.length > 0" type="button"
                            class="btn btn-sm btn-info waves-effect waves-light m-r-10"
                            (click)="loadDFDataForTestcase();">Use Existing DF</button>
                    </div>
                </div>
                <div class="form-group row" *ngIf="isUsingExistingDF">
                    <label class="col-sm-10 col-form-label">Select DF
                        <span class="asterisk required">*</span>
                    </label>
                    <div class="col-sm-10">
                        <angular2-multiselect name="selectedDF" [data]="this.dfDataForTestcase"
                            [(ngModel)]="selectedDfForCreate" [settings]="categorySettings">
                        </angular2-multiselect>
                    </div>
                </div>
                <div class="form-group row" *ngIf="selectedDfForCreate.length > 0">
                    <label class="col-sm-12 col-form-label"><strong>Description: </strong>
                        {{this.selectedDfForCreate[0].desc}}
                    </label>
                </div>
                <div class="form-group row" *ngIf="selectedDfForCreate.length > 0">
                    <div class="col-sm-12 text-center">
                        <button type="button" class="btn btn-sm btn-primary waves-effect waves-light m-r-10"
                            (click)="saveDf()">Save</button>
                        <button type="button" class="btn btn-sm btn-danger waves-effect waves-light m-r-10"
                            (click)="createDfModal.hide();">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="spinnerFlag" class="loading">Loading&#8230;</div>
    </div>
</app-modal-basic>