<div class="row">
  <div class="col-sm-12 ">
    <label class="messages text-danger" *ngIf="!validForm">Please Fill the Details to Continue . . .</label>
  </div>
  <div class="col-sm-12">
    <br>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>URL</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dto of checkList; let i=index">
            <td width="30%">
              <input type="text" class="form-control" id="titleid-{{i}}" name="title-{{i}}" [(ngModel)]="dto.title"
                [ngModelOptions]="{standalone: true}" #title="ngModel"  (ngModelChange)="onEditAnyData();" />
              <div class="messages text-danger" *ngIf="(title.touched || submittedCheckList) && !dto.title">Title can't
                be
                blank </div>
            </td>
            <td width="40%">
              <input type="url" class="form-control" id="urlid-{{i}}" name="url-{{i}}" [(ngModel)]="dto.url"
                placeholder="URL" #url="ngModel" [ngModelOptions]="{standalone: true}"  (ngModelChange)="onEditAnyData();" />
              <div class="messages text-danger" *ngIf="(url.touched || submittedCheckList) && !dto.url">URL can't be
                blank</div>
            </td>
            <td width="10%">
              <a class="pointer" role="button" title="Add Test Steps" (click)="addUrlCheckList(checkList);">
                <i class="icofont icofont-ui-add text-success"></i></a>
              <i style="cursor: pointer;" (click)="delete(checkList,i);onEditAnyData();" class="icofont icofont-ui-delete"
                title="delete"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="spinnerFlag" class="loading">Loading&#8230;</div>