<div class="row">
	<div class="col-sm-12">
		<ngx-datatable [scrollbarH]="true" #myTable class="data-table dt-chk" [rows]='data' [limit]="rowsOnPage"
			[columnMode]="'force'" [offset]="tableOffset" (page)="onChangePage($event)" [headerHeight]="50"
			[footerHeight]="50" [rowHeight]="'auto'">
			<ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
				<ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
					<div class="dt-desc">
						<table class="table-striped table-bordered">
							<tr>
								<th colspan="3">
									<strong>System Remarks</strong>
								</th>
							</tr>
							<tr *ngFor="let system of row.systemRemarks ;let in = index">
								<td [innerHtml]="in+1"></td>
								<td style="white-space: pre-line" class="fontStyle">
									<label for="systemRemarks-{{in+1}}">
										<pre [innerHtml]="system"></pre>
									</label>
								</td>
							</tr>
						</table>
						<br>
						<table class="table-striped table-bordered">
							<tr>
								<th colspan="3">Device info</th>
							</tr>
							<tr>
								<td>Browser And Device</td>
								<td class="fontStyle">{{row['browser']}}</td>
							</tr>
						</table>
						<br>
						<table class="table-striped table-bordered">
							<tr>
								<th colspan="3">
									<strong>User Remarks</strong>
								</th>
							</tr>
							<tr *ngFor="let user of row.userRemarks ;let in = index">
								<td [innerHtml]="in+1"></td>
								<td style="white-space: pre-line" class="fontStyle">
									<label for="userRemarks-{{in+1}}"><label [innerHtml]="user"></label></label>
								</td>
							</tr>
						</table>
						<br>
						<table *ngIf="row.tableAudit.length>0" class="table-striped table-bordered">
							<tr>
								<th colspan="3">
									<strong>Table Changes</strong>
								</th>
							</tr>
							<tr *ngFor="let table of row.tableAudit ;let tableIndex = index">
								<td>{{tableIndex+1}}</td>
								<td>
									{{table.name}} <a class="btn btn-link strong" role="button"
										(click)="loadTableChanges(table)">Click
										here!</a>
								</td>
							</tr>
						</table>
					</div>
				</ng-template>
			</ngx-datatable-row-detail>
			<ngx-datatable-column [width]="3" [resizeable]="true" [sortable]="false" [draggable]="false"
				[canAutoResize]="true">
				<ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
					<a href="javascript:;" [class.datatable-icon-right]="!expanded"
						[class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
						(click)="toggleExpandRow(row)"> </a>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [resizeable]="true" [sortable]="true" name="UserName">
				<ng-template let-row="row" ngx-datatable-cell-template>{{row['loginUserName']}}</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [sortable]="true" name="Event">
				<ng-template let-row="row" ngx-datatable-cell-template>{{row['event']}}</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [sortable]="true" name="Item Id">
				<ng-template let-row="row" ngx-datatable-cell-template>{{row['uniqueDocCode']}}</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [sortable]="true" name="IP Address">
				<ng-template let-row="row" ngx-datatable-cell-template>{{row['ipAddress']}}</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [sortable]="true" name="CreatedTime">
				<ng-template let-row="row" ngx-datatable-cell-template>{{row['createdTime']}}</ng-template>
			</ngx-datatable-column>
		</ngx-datatable>
	</div>
</div>

<div *ngIf="auditViewSpinnerFlag" class="loading">Loading&#8230;</div>
<app-modal-basic #auditForTable [dialogClass]="'modal-lg'" class="modal-dialog">
	<div class="app-modal-header">
		<h4 class="modal-title">Table Changes</h4>
		<button type="button" class="close basic-close" (click)="auditForTable.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div style="max-height: 500px !important;overflow: scroll;" class="app-modal-body">
		<div class="dt-desc" style="padding: 0px;">
			<div class="row">
				<div class="col-sm-6">
					<table class="table-responsive" id="oldTableId">
						<thead>
							<tr>
								<th *ngFor="let col of this.oldTable.column">{{col}}</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let row of this.oldTable.rows ; let i=index;">
								<td id="oldtd_{{i}}_{{j}}" *ngFor="let rowData of row; let j=index">{{rowData}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-sm-6">
					<table class="table-responsive" id="newTableId">
						<thead>
							<tr>
								<th *ngFor="let col of this.oldTable.column">{{col}}</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let row of this.newTable.rows ; let i=index;">
								<td id="newtd-{{i}}" *ngFor="let rowData of row">{{rowData}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="app-modal-footer container">
		<label><i style="color: #FBE870" class="icofont icofont-info-circle"></i>-&nbsp;Added</label>&nbsp;&nbsp;
		<label><i style="color: #F08080" class="icofont icofont-info-circle"></i>-&nbsp;Old value</label>&nbsp;&nbsp;
		<label><i style="color: #90EE90" class="icofont icofont-info-circle"></i>-&nbsp;Updated</label>
		<button type="button" class="btn btn-default waves-effect float-right"
			(click)="auditForTable.hide()">Close</button>
	</div>
</app-modal-basic>