u {
  cursor: pointer
}

.imageSize {
  font-size: xx-large;
}

hr.new1 {
  border-top: 1px solid #082654 !important;
}

hr.bar {
  border-top: 3px solid rgb(26, 59, 70);
}

.draft {
  color: #e17474;
}

.publish {
  color: #e9e558;
}

.total {
  color: #67c2df;
}

.approved {
  color: #45A27D;
}

.black {
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content-project-summary {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content-project-summary a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-project-summary a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content-project-summary {
  display: block;
}

#projectSummaryQuill>.quill-editor {
  min-height: unset !important;
}

#projectSummaryQuill>.ql-container> {
  min-height: unset !important;
}

#projectSummaryQuill>.ql-container>.ql-editor {
  min-height: unset !important;
}

.progress-indicator.stacked {
  display: block;
  width: 100%;
}

.progress-indicator.stacked>li {
  height: 80px;
}

.flexer, .progress-indicator {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex
}

.flexer-element, .progress-indicator>li {
  -ms-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1
}

.progress-indicator>li {
  list-style: none;
  text-align: center;
  width: auto;
  padding: 0;
  margin: 0;
  position: relative;
  text-overflow: ellipsis;
  color: #bbb;
  display: block
}

.progress-indicator>li.completed, .progress-indicator>li.completed .bubble {
  color: #65d074
}

.progress-indicator>li.rejected, .progress-indicator>li.rejected .bubble {
  color: red;
}

.progress-indicator>li.current, .progress-indicator>li.current .bubble {
  color: orange;
}

li.current .bubble {
  margin: 100px;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #346D94;
  cursor: pointer;
  box-shadow: 0 0 30 rgba(204, 169, 44, 0.10);
  animation: pulse 2s infinite;
}

.progress-indicator>li .bubble {
  border-radius: 1000px;
  width: 20px;
  height: 20px;
  background-color: #bbb;
  display: block;
  margin: 0 auto .5em;
  border-bottom: 1px solid #888
}

.progress-indicator>li .bubble:after, .progress-indicator>li .bubble:before {
  display: block;
  position: absolute;
  top: 9px;
  width: 100%;
  height: 3px;
  content: '';
  background-color: #bbb
}

.progress-indicator>li.completed .bubble, .progress-indicator>li.completed .bubble:after, .progress-indicator>li.completed .bubble:before {
  background-color: #65d074;
  border-color: #247830
}

.progress-indicator>li.rejected .bubble, .progress-indicator>li.rejected .bubble:after, .progress-indicator>li.rejected .bubble:before {
  background-color: red;
  border-color: red
}

.progress-indicator>li.current .bubble, .progress-indicator>li.current .bubble:after, .progress-indicator>li.current .bubble:before {
  background-color: #346D94;
  border-color: #346D94;
}

.progress-indicator>li .bubble:before {
  left: 0
}

.progress-indicator>li .bubble:after {
  right: 0
}

.progress-indicator>li:first-child .bubble:after, .progress-indicator>li:first-child .bubble:before {
  width: 50%;
  margin-left: 50%
}

.progress-indicator>li:last-child .bubble:after, .progress-indicator>li:last-child .bubble:before {
  width: 50%;
  margin-right: 50%
}

.progress-indicator>li.active, .progress-indicator>li.active .bubble {
  color: #337AB7
}

.progress-indicator>li.active .bubble, .progress-indicator>li.active .bubble:after, .progress-indicator>li.active .bubble:before {
  background-color: #337AB7;
  border-color: #122a3f
}

@media handheld, screen and (max-width: 400px) {
  .progress-indicator {
    font-size: 60%
  }
}

.squeezebox .sb-item {
  overflow: hidden;
}

.squeezebox .sb-item .sb-item-body {
  height: 0;
  overflow: hidden;
  transition: 0.5s height;
}

.my-custom-class .tooltip-inner {
  background-color: darkgreen;
  font-size: 10%;
}

.my-custom-class .arrow::before {
  border-top-color: darkgreen;
}

.progress-bar {
  height: 0.5rem;
  line-height: 1rem;
}

.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 rgba(52, 109, 148, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(52, 109, 148, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(52, 109, 148, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(52, 109, 148, 0.4);
    box-shadow: 0 0 0 0 rgba(52, 109, 148, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 30px rgba(52, 109, 148, 0);
    box-shadow: 0 0 0 30px rgba(52, 109, 148, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(52, 109, 148, 0);
    box-shadow: 0 0 0 0 rgba(52, 109, 148, 0);
  }
}

table#projectSummary tbody th, table#projectSummary tbody td {
  white-space: unset;
}

table#projectSummary, table#projectSummary th, table#projectSummary td {
  border: 1px solid black;
}

/* table.show-my-request-table tr>td:first-child {
  background-color: #e4f6fc;
} */

ngx-datatable#summaryCustomTable datatable-header-cell {
  background-color: lightgrey !important;
}

ngx-datatable#summaryCustomTable datatable-body-cell {
  border-bottom: inset !important;
}

ngx-datatable#summaryCustomTable .datatable-row-even {
  background-color: #e4f6fc;
}

ngx-datatable#summaryCustomTable .datatable-row-odd {
  background-color: white;
}

.dot.full {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}

.full {
  background-color: green;
}

.bg-yellow {
  background-color: yellow;
}

.small-tc-dot {
  height: 12px;
  width: 12px;
  border-radius: 55%;
  display: inline-block;
}

table#planTable {
  width: 80%;
  border-collapse: collapse;
}

table#planTable th {
  white-space: inherit;
  width: auto;
  text-align: center;
  font-weight: normal;
  color: #082654;
}

table#planTable td {
  white-space: inherit;
  width: auto;
  text-align: center;
  font-weight: normal;
  background-color: white;
}