<form #formExtendValidation="ngForm">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Project/ Global Modules<span class="asterisk required">*</span></label>
      <div class="col-sm-10">
        <select class="form-control"  name="projectName" [(ngModel)]="formExtend.projectId" #project="ngModel" required 
          (change)="loadAllStaticDocumentForProject(formExtend.projectId);">
          <option value="" disabled>Select Project</option>
          <option value="0">Global Modules</option>
          <option *ngFor="let project of projectList" [ngValue]="project.id">{{project.projectName}}</option>
        </select>
        <div class="messages text-danger" *ngIf="(project.touched || submitted) && (project.errors?.required && formExtend.projectId!='')">Please select the project/ global module</div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Document<span class="asterisk required">*</span></label>
      <div class="col-sm-10">
        <select class="form-control" name="documentName"  [(ngModel)]="formExtend.documentConstant" #documentNameModal="ngModel" required
        (change)="loadFormExtendOfTheProjectParticularDocument(formExtend.projectId,formExtend.documentConstant);">
          <option value="0" disabled >Select Document</option>
          <option *ngFor="let document of documentList" [value]="document.key">{{document.value}}</option>
        </select>
        <div class="messages text-danger" *ngIf="(documentNameModal.touched || submitted) && (formExtend.documentConstant==0)">Please select the document</div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-form-label">Active: <ui-switch ng-model="all" [(ngModel)]="this.formExtend.activeFlag" name="activeFlagName"
          (change)="this.formExtend.activeFlag=!this.formExtend.activeFlag" class="js-small" color="#3498DB"
          switchColor="#fff" size="small">
        </ui-switch>
      </label>
    </div>
    <div class="form-group row col-sm-12">
      <div class="well well-lg">
        <div class="build-wrap"></div>
    </div>
    <br><br>
    <div *ngIf="expressionBuilder.length>0" class="form-group row">
      <div class="col-sm-12">
        <app-card title="Expression">
          <form class="table-responsive" #expressionBuilderId="ngForm">
            <div class="row">
              <label class="col-sm-3">First Operand</label>
              <label class="col-sm-2">Operator</label>
              <label class="col-sm-3">Second Operand</label>
              <label class="col-sm-2">To Be Saved In</label>
              <label class="col-sm-2"></label>
            </div>
            <ng-container *ngFor='let expression of expressionBuilder ; let i=index'>
            <div class="row" >
              <div class="col-sm-3">
                <select class="form-control" [(ngModel)]="expression.operandOneId" id="expression-{{expression.id}}"
                  name="expression-{{expression.id}}" #operandOneId="ngModel">
                  <option *ngFor="let option of expressionDropDownFirst" [value]="option.key"><label
                      [innerHtml]="option.value"></label></option>
                </select>
              </div>
              <div class="col-sm-2">
                <select class="form-control" [(ngModel)]="expression.operator" name="operatorName-{{expression.id}}"
                  #operatorId="ngModel">
                  <option value="addition">Addition</option>
                  <option value="subtraction">Subtraction</option>
                  <option value="multiplication">Multiplication</option>
                  <option value="division">Division</option>
                  <option value="percentage">Percentage</option>
                </select>
              </div>
              <div class="col-sm-3">
                <div *ngIf="expression.operandTwoId!='constant'" class="row">
                  <select class="form-control" [(ngModel)]="expression.operandTwoId" name="operandTwoName-{{expression.id}}"
                    #operandTwoId="ngModel">
                    <option value="constant">Constant Value</option>
                    <option *ngFor="let option of expressionDropDownSecond" [value]="option.key"><label
                        [innerHtml]="option.value"></label></option>
                  </select>
                </div>
                <div *ngIf="expression.operandTwoId=='constant'" class="row">
                  <div class="col-sm-6"><select class="form-control" [(ngModel)]="expression.operandTwoId"
                      name="operandTwoName-{{expression.id}}" #operandTwoId="ngModel">
                      <option value="constant">Constant Value</option>
                      <option *ngFor="let option of expressionDropDownSecond" [value]="option.key"><label
                          [innerHtml]="option.value"></label></option>
                    </select></div>
                  <div class="col-sm-6">
                    <input class="form-control" type="number" placeholder="ex-5" (keypress)="onlyNumber($event)"
                      [(ngModel)]="expression.operandTwoConstant" name="operandTwoConstantName-{{expression.id}}"
                      id="operandTwoConstantId-{{expression.id}}" #operandTwoId="ngModel" />
                  </div>
                </div>
            
              </div>
              <div class="col-sm-2">
                <select class="form-control" [(ngModel)]="expression.finalResultId" name="finalResultName-{{expression.id}}"
                  #finalResultId="ngModel">
                  <option *ngFor="let option of expressionDropDownThird" [value]="option.key"><label
                      [innerHtml]="option.value"></label></option>
                </select>
              </div>
              <div class="col-sm-2">
                <a class="m-r-15 crm-action-view text-muted text-warning" (click)="$event.preventDefault();deleteExpression(i)"
                  placement="top" ngbTooltip="Delete">
                  <i style="font-size: 25px;color: red;" class="icofont icofont-close"></i>
                </a>
              </div>
            </div>
            <br>
          </ng-container>
           
          </form>
        </app-card>
      </div>
    </div>
  
    <div *ngIf="conditionBuilder.length>0" class="form-group row">
      <div class="col-sm-12">
        <app-card title="Condition">
          <form  #conditionBuilderId="ngForm">
            <div class="row well well-lg" *ngFor='let condition of conditionBuilder ; let i=index'>
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="row">
                      <label class="col-sm-6">Condition Name</label>
                      <div class="col-sm-6">
                        <input  class="form-control" type="text" maxlength="49" id="conditionName-{{condition.id}}" 
                        name="conditionName-{{condition.id}}" [(ngModel)]="condition.name" #conditionName="ngModel" />
                      </div>
                    </div>
                   
                  </div>
                  <div class="col-sm-4">
                    <div class="row">
                      <label class="col-sm-6">Condition Type </label>
                      <div class="col-sm-6">
                        <select class="form-control" [(ngModel)]="condition.type" name="type-{{condition.id}}"
                          (change)="onConditionTypeChange(condition)" #conditionTypeNgModel="ngModel">
                          <option value="range">Range</option>
                          <option value="comparator">Comparator</option>
                        </select>
                      </div>
                    </div>
                  </div>
                    <div *ngIf="condition.type=='comparator'" class="col-sm-3">
                      <label for="caseSensitive-{{condition.id}}">
                        <input type="checkbox" name="caseSensitive-{{condition.id}}" [checked]="condition.caseSensitive"
                        (change)="condition.caseSensitive=!condition.caseSensitive" /> Case
                        Sensitive</label></div>
                  <div *ngIf="condition.type=='range'" class="col-sm-3">
                    <div class="row">
                      <div class="col-sm-2">
                        <a  class="m-r-15 crm-action-view text-muted text-warning" (click)="$event.preventDefault();conditionChildCreate(condition.conditionChild)"
                        placement="top" ngbTooltip="Add Condition">
                        <i style="font-size: 15px;color: #4680ff;" class="icofont icofont-plus"></i>
                      </a>
                      </div>
                      <div class="col-sm-10">
                        <div class="row">
                          <div class="col-sm-10">
                            <input class="form-control" maxlength="49" placeholder="Default Value" type="text"
                              [(ngModel)]="condition.defaultValue" name="defaultValue-{{condition.id}}" id="defaultValue-{{condition.id}}" #defaultValue="ngModel" />
                          </div>
                          <div class="col-sm-2 pl-0">
                            <input type="color" id="defaultColor-{{condition.id}}" name="defaultColor-{{condition.id}}" [(ngModel)]="condition.defaultColor" #defaultColor="ngModel" />
                          </div>
                        </div>
                        
                      </div>
                    
                    </div>
  
                   
                  </div>
                  <div  class="col-sm-1">
                    <a class="m-r-15 crm-action-view text-muted text-warning" (click)="$event.preventDefault();deleteCondition(i)"
                      placement="top" ngbTooltip="Delete">
                      <i style="font-size: 25px;color: red;" class="icofont icofont-close"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-sm-12"><br></div>
              <div *ngIf="condition.type" class="col-sm-12">
                <div *ngIf="condition.type=='comparator'" >
                  <div class="row">
                    <div class="col-sm-2">Operand One</div>
                    <div class="col-sm-1 p-0">Comparator</div>
                    <div class="col-sm-3">Operand Two</div>
                    <div class="col-sm-2">Assigned To</div>
                    <div class="col-sm-4">Output Message</div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2">
                      <select class="form-control" [(ngModel)]="condition.operandOneId" name="operandOneName-{{condition.id}}"
                        #operandOneIdNgModel="ngModel">
                        <option *ngFor="let option of condition.comparatorDropDownFirst" [value]="option.key"><label
                            [innerHtml]="option.value"></label></option>
                      </select>
                    </div>
                    <div class="col-sm-1 p-0">
                      <select class="form-control" [(ngModel)]="condition.operator" name="operator-{{condition.id}}" #operatorNgModel="ngModel">
                        <option value="equals">Equals</option>
                        <option value="notEqualTo">Not Equal To</option>
                        <option value="greaterThan">Greater Than</option>
                          <option value="greaterThanEqual">Greater than equals</option>
                          <option value="lessThan">Less Than</option>
                          <option value="lessThanEqual">Less than equals</option>
                      </select>
                    </div>
                    <div class="col-sm-3">
                      <div *ngIf="condition.operandTwoId=='constant'" class="row">
                        <div class="col-sm-6">
                          <select class="form-control" [(ngModel)]="condition.operandTwoId" name="operandTwoId-{{condition.id}}"
                             #rangeValueNgModel="ngModel">
                            <option value="constant">Constant Value</option>
                            <option *ngFor="let option of condition.comparatorDropDownSecond" [value]="option.key"><label
                                [innerHtml]="option.value"></label></option>
                          </select>
                        </div>
                        <div class="col-sm-6">
                          <input class="form-control"  type="number" placeholder="ex-5"
                            [(ngModel)]="condition.constantValue" name="constantValueName-{{condition.id}}" id="constant-{{condition.id}}"
                            #constantValueNgModel="ngModel" />
                        </div>
                      </div>
                      <div *ngIf="condition.operandTwoId!='constant'" class="row">
                        <div class="col-sm-12">
                          <select class="form-control" [(ngModel)]="condition.operandTwoId" name="operandTwoId-{{condition.id}}"
                             #rangeValueNgModel="ngModel">
                            <option value="constant">Constant Value</option>
                            <option *ngFor="let option of condition.comparatorDropDownSecond" [value]="option.key"><label
                                [innerHtml]="option.value"></label></option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <select class="form-control" [(ngModel)]="condition.resultOperandId" name="resultOperandId-{{condition.id}}"
                        #resultOperandIdNgModel="ngModel">
                        <option *ngFor="let option of condition.comparatorDropDownThird" [value]="option.key"><label
                            [innerHtml]="option.value"></label></option>
                      </select>
                    </div>
                    <div class="col-sm-4">
                      <div class="row">
                        <div class="col-sm-5">
                          <input class="form-control" maxlength="49" placeholder="Output Value" type="text"
                            [(ngModel)]="condition.outPutValue" name="outPutValue-{{condition.id}}" id="outPutValue-{{condition.id}}" #outPutValue="ngModel" />
                        </div>
                        <div class="col-sm-1 pl-0">
                          <input type="color" id="colorId-{{condition.id}}" name="color-{{condition.id}}" [(ngModel)]="condition.color" #colorId="ngModel" />
                        </div>
                        <div class="col-sm-5">
                          <input class="form-control" maxlength="49" placeholder="Default Value" type="text"
                            [(ngModel)]="condition.defaultValue" name="defaultValue-{{condition.id}}" id="defaultValue-{{condition.id}}" #defaultValue="ngModel" />
                        </div>
                        <div class="col-sm-1 pl-0">
                          <input type="color" id="defaultColor-{{condition.id}}" name="defaultColor-{{condition.id}}" [(ngModel)]="condition.defaultColor" #defaultColor="ngModel" />
                        </div>
                      </div>
                    </div>
                   
                  </div>
                </div>
                <ng-container *ngIf="condition.type=='range'" class="table-responsive">
                  <div class="row">
                    <div class="col-sm-1 pl-0">First Operand</div>
                    <div class="col-sm-10 ">
                      <div class="row">
                        <div class="col-sm-1 pl-0">Lower Limit</div>
                        <div class="col-sm-3">Lower Limit Value </div>
                        <div class="col-sm-1">Upper Limit </div>
                        <div class="col-sm-3">Upper Limit Value </div>
                        <div class="col-sm-2">Output</div>
                      </div>
                    </div>
                    <div class="col-sm-1 pr-0">Assigned To</div>
                  </div>
                <div class="row">
                  <div class="col-sm-1 pt-5 pl-0">
                    <select class="form-control" [(ngModel)]="condition.operandOneId" name="operandOneName-{{condition.id}}"
                      #operandOneIdNgModel="ngModel">
                      <option *ngFor="let option of condition.conditionDropDownFirst" [value]="option.key"><label
                          [innerHtml]="option.value"></label></option>
                    </select>
                  </div>
                  <div class="well well-lg col-sm-10">
                    <ng-container *ngFor="let cc of condition.conditionChild ; let j=index">
                      <div class="row">
                        <div class="col-sm-1 pl-0">
                          <select class="form-control" [(ngModel)]="cc.lowerLimitCondition" name="lowerLimitCondition-{{condition.id}}-{{cc.id}}"  placement="top" [ngbTooltip]="cc.lowerLimitCondition"
                            #lowerLimitConditionNgModel="ngModel">
                            <option value="greaterThan">Greater Than</option>
                            <option value="greaterThanEqual">Greater than equals</option>
                          </select>
                        </div>
                        <div class="col-sm-3">
                          <div *ngIf="cc.lowerLimitValue!='constant'" class="row">
                            <select class="form-control" [(ngModel)]="cc.lowerLimitValue" name="lowerLimitValue-{{condition.id}}-{{cc.id}}"
                              
                              #lowerLimitValueNgModel="ngModel">
                              <option value="constant">Constant Value</option>
                              <option *ngFor="let option of condition.conditionDropDownSecond" [value]="option.key"><label
                                  [innerHtml]="option.value"></label></option>
                            </select>
                          </div>
                          <div *ngIf="cc.lowerLimitValue == 'constant' " class="row">
                            <div class="col-sm-6 pl-0">
                              <select class="form-control" [(ngModel)]="cc.lowerLimitValue" name="lowerLimitValue-{{condition.id}}-{{cc.id}}"
                                
                                #lowerLimitValueNgModel="ngModel">
                                <option value="constant">Constant Value</option>
                                <option *ngFor="let option of condition.conditionDropDownSecond" [value]="option.key"><label
                                    [innerHtml]="option.value"></label></option>
                              </select>
                            </div>
                            <div class="col-sm-6 p-0">
                              <input class="form-control"   type="number" placeholder="ex-5" [(ngModel)]="cc.lowerConstantValue"
                                name="lowerConstantValue-{{condition.id}}-{{cc.id}}" id="lowerConstantValue-{{condition.id}}-{{cc.id}}" #operandTwoId="ngModel" />
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-1">
                          <select class="form-control" [(ngModel)]="cc.upperLimitCondition" name="upperLimitCondition-{{condition.id}}-{{cc.id}}" placement="top" [ngbTooltip]="cc.upperLimitCondition"
                            #lowerConstantValue="ngModel">
                            <option value="lessThan">Less Than</option>
                            <option value="lessThanEqual">Less than equals</option>
                          </select>
                        </div>
                        <div class="col-sm-3">
                          <div *ngIf="cc.upperLimitValue!='constant'" class="row">
                            <select class="form-control" [(ngModel)]="cc.upperLimitValue" name="upperLimitValue-{{condition.id}}-{{cc.id}}"
                              #upperLimitValueNgModel="ngModel">
                              <option value="constant">Constant Value</option>
                              <option *ngFor="let option of condition.conditionDropDownSecond" [value]="option.key"><label
                                  [innerHtml]="option.value"></label></option>
                            </select>
                          </div>
                          <div *ngIf="cc.upperLimitValue == 'constant' " class="row">
                            <div class="col-sm-6 pl-0">
                              <select class="form-control" [(ngModel)]="cc.upperLimitValue" name="upperLimitValue-{{condition.id}}-{{cc.id}}"
                                #lowerLimitValueNgModel="ngModel">
                                <option value="constant">Constant Value</option>
                                <option *ngFor="let option of condition.conditionDropDownSecond" [value]="option.key"><label
                                    [innerHtml]="option.value"></label></option>
                              </select>
                            </div>
                            <div class="col-sm-6 p-0">
                              <input class="form-control"  type="number" placeholder="ex-5" [(ngModel)]="cc.upperConstantValue"
                                name="upperConstantValue-{{condition.id}}-{{cc.id}}" id="upperConstantValue-{{condition.id}}-{{cc.id}}"
                                #upperConstantValue="ngModel" />
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="row">
                            <div class="col-sm-8">
                              <input class="form-control" type="text" maxlength="49" [(ngModel)]="cc.outPutValue"
                              name="outPutValue-{{condition.id}}-{{cc.id}}" id="outPutValue-{{condition.id}}-{{cc.id}}" #outPutValueNgModel="ngModel" />
                            </div>
                            <div class="col-sm-2">
                              <input type="color" id="colorId-{{condition.id}}-{{cc.id}}" name="color-{{condition.id}}-{{cc.id}}" [(ngModel)]="cc.color" #colorId="ngModel" />
                            </div>
                            <div class="col-sm-2">
                              <a class="m-r-15 crm-action-view text-muted text-warning" (click)="$event.preventDefault();deleteChildCondition(condition.conditionChild,j)"
                                placement="top" ngbTooltip="Delete Condition">
                                <i style="font-size: 15px;color: red;" class="icofont icofont-close"></i>
                              </a>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                    </ng-container>
                
                  </div>
                  <div class="col-sm-1 pt-5 pr-0">
                    <select class="form-control" [(ngModel)]="condition.resultOperandId" name="resultOperandId-{{condition.id}}"
                      #resultOperandIdNgModel="ngModel">
                      <option *ngFor="let option of condition.conditionDropDownThird" [value]="option.key"><label
                          [innerHtml]="option.value"></label></option>
                    </select>
                  </div>
                </div>
              </ng-container>
              </div>
             
            </div>
          </form>
        </app-card>
      </div>
    </div>
    <div class="messages text-danger" *ngIf="(this.formBuilder && this.formBuilder.formData=='[]' && submitted)">Form can't be empty</div>
    </div>
    <input type="button" class="btn btn-primary" (click)="newExpression()" value="Add Expression" />
    <input type="button" class="btn btn-primary" (click)="newCondition(conditionBuilder.length)" value="Add Condition" />
    <input *ngIf="conditionBuilder.length>0" type="button" class="btn btn-primary"(click)="testCondition(conditionBuilder);" value="Test Condition" />
  
    <div class="form-group row">
      <div style="text-align: center;" class="col">
        <button type="button" *ngIf="this.formExtend.id!=0" class="btn btn-sm btn-success waves-effect waves-light m-r-10"
          (click)="$event.preventDefault();updateRow(formExtendValidation.valid);">Update
        </button>
        <button type="button" *ngIf="this.formExtend.id==0" class="btn btn-sm btn-success waves-effect waves-light m-r-10"
          (click)="saveAndGoto(formExtendValidation.valid);">Save
        </button>
        <button type="button" class="btn btn-sm btn-danger waves-effect waves-light m-r-10" (click)="setHide()">Cancel</button>
      </div>
    </div>
    </form>
    <app-modal-basic #ConditionCheck [dialogClass]="'modal-lg'" [hideFooter]="true" class="modal-dialog ">
      <div class="app-modal-header">
        <h4 class="modal-title strong">Test Condition</h4>
        <button type="button" class="close basic-close" (click)="ConditionCheck.hide()">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
      <div style="height: 500px !important;padding: 0px;" class="app-modal-body" >
          <div class="dt-desc dy-width-500">
            <select class="form-control" [(ngModel)]="testConditionValue" name="testConditionValue"
              (change)="testConditionOnValueChange(testConditionValue)" #conditionTypeNgModel="ngModel">
              <option *ngFor=" let test of this.testConditionDropDown" [ngValue]="test.key">{{test.value}}</option>
            </select>
            <ng-container *ngIf="testConditionValue">
              <div  *ngFor='let input of testInputField'>
                <div class="form-group row" *ngIf="(input.subtype==='Text')">
                  <b><label class="col-sm-12 col-form-label" [for]='input.name'><label [innerHtml]="input.label"></label><span
                        *ngIf="input.required!=undefined" class="asterisk">*</span>
                      <a *ngIf="input.description!=undefined" href="javascript:;"
                        class="m-r-15 crm-action-info text-muted text-primary" placement="top" [ngbTooltip]="input.description">
                        <i style="font-size: 17px" class="icofont icofont-info-circle"></i>
                      </a></label></b>
                  <div class="col-sm-10">
                    <input class="form-control col-sm-5" [ngStyle]="{'background-color': !input.color? 'white' : input.color}"
                      type='text' [name]='input.name' [(ngModel)]='input.value'
                      (ngModelChange)="conditionCheck(testConditionValue,input.name,testInputField)" #text="ngModel">
                  </div>
                </div>
                <div class="form-group row" *ngIf="(input.type==='hidden')">
                  <b><label class="col-sm-12 col-form-label" [for]='input.name'><label
                        [innerHtml]="input.label"></label></label></b>
                  <div class="col-sm-10">
                    <input class="form-control col-sm-5" type='text' [name]='input.name' [(ngModel)]='input.value'
                      (ngModelChange)="conditionCheck(testConditionValue,input.name,testInputField)" #hidden="ngModel">
                  </div>
                </div>
                <div class="form-group row" *ngIf="(input.type==='number')">
                  <b><label class="col-sm-12 col-form-label" [for]='input.name'><label [innerHtml]="input.label"></label><span
                        *ngIf="input.required!=undefined" class="asterisk">*</span>
                      <a *ngIf="input.description!=undefined" href="javascript:;"
                        class="m-r-15 crm-action-info text-muted text-primary" placement="top" [ngbTooltip]="input.description">
                        <i style="font-size: 17px" class="icofont icofont-info-circle"></i>
                      </a></label></b>
                  <div class="col-sm-12">
                    <input class="form-control col-sm-2" [type]='input.type' [name]='input.name' [(ngModel)]='input.value'
                      [minlength]="input.minlength" [maxlength]="input.maxlength" [required]="input.required"
                      (ngModelChange)="conditionCheck(testConditionValue,input.name,testInputField)" #number="ngModel">
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      <div class="app-modal-footer">
        <button type="button" class="btn btn-default waves-effect" (click)="ConditionCheck.hide()">Close</button>
      </div>
    </app-modal-basic>