<div *ngIf="this.router.url!='/Project-setup/create-projectWizard'"><br><br><br></div>
<div class="col-sm-12" id="float-action">
  <app-card>
    <div class="row">
      <div class="page-header-title col-sm-3">
        <i class="icofont icofont-file-document bg-c-blue"></i>
        <div class="d-inline">
          <h5 class="strong" *ngIf="modal.id!=0">{{modal.projectName}}</h5>
          <h5 class="strong" *ngIf="modal.id==0">Add Project SetUp<br><span>{{this.title}}</span></h5>
        </div>
      </div>
      <div class="col-sm-5">
        <div *ngIf="modal.id!=0">
          Validation status:
          <a href="javascript:" (click)="onClickProjectStatusModal();">
            {{modal.validationStatus}}
          </a> &nbsp;&nbsp;&nbsp;
          System status :
          <a href="javascript:" (click)="onClickProjectStatusModal();">
            {{modal.systemStatus}}
          </a>
        </div>
      </div>
      <div class="col-sm-4 text-right">
        <a *ngIf="this.title!='Create Project'" href="javascript:" class="m-r-10"><img
            class="image-radius rounded-0 img-27" src="assets/icon/png-icons/previous.svg" alt="Previous"
            placement="bottom" ngbTooltip="Previous" (click)="navigatePrevious();"></a>

        <a *ngIf="((modal.id!=0 && this.title==='Create Project') || (this.title==='System Description')
          || (this.title==='GxP Assessment' && (!this.gxpForm || (this.gxpForm && this.systemDescriptionDTO.freezeGxpForm)))
          || this.title==='Document Workflow Setup')" href="javascript:" class="m-r-10"><img
            class="image-radius rounded-0 img-27" src="assets/icon/png-icons/next.svg" alt="Next" placement="bottom"
            ngbTooltip="Next" (click)="navigateNext();"></a>

        <a *ngIf="modal.id!=0 && this.title==='Create Project'" href="javascript:" class="m-r-10"><img
            class="image-radius rounded-0 img-27 img-height" src="assets/icon/png-icons/save.svg" alt="Update"
            placement="bottom" ngbTooltip="Update"
            (click)="$event.preventDefault();openSuccessCancelSwal('tab1', projectsetup)"></a>

        <a *ngIf="modal.id==0 && this.title==='Create Project'" href="javascript:" class="m-r-10"><img
            class="image-radius rounded-0 img-27 img-height" src="assets/icon/png-icons/save.svg" alt="Save"
            placement="bottom" ngbTooltip="Save" (click)="$event.preventDefault();onsubmit(projectsetup.valid);"></a>

        <a *ngIf="this.systemDescriptionDTO.id === 0 && this.title==='System Description'" href="javascript:"
          class="m-r-10"><img class="image-radius rounded-0 img-27 img-height" src="assets/icon/png-icons/save.svg"
            alt="Save" placement="bottom" ngbTooltip="Save" (click)="saveSystemDescription()"></a>

        <a *ngIf="this.systemDescriptionDTO.id != 0 && this.title==='System Description'" href="javascript:"
          class="m-r-10"><img class="image-radius rounded-0 img-27 img-height" src="assets/icon/png-icons/save.svg"
            alt="Update" placement="bottom" ngbTooltip="Update"
            (click)="openSuccessCancelSwal('tab2', onSystemDescription);"></a>

        <a *ngIf="this.title==='GxP Assessment' && this.systemDescriptionDTO.gxpFormId==0 && !this.systemDescriptionDTO.freezeGxpForm"
          href="javascript:" class="m-r-10"><img class="image-radius rounded-0 img-27 img-height"
            src="assets/icon/png-icons/save.svg" alt="Save GxP" placement="bottom" ngbTooltip="Save GxP"
            (click)="this.gxpFormComponent.saveOrUpdateGxPForm();"></a>

        <a *ngIf="!isGxpPublished && this.title==='GxP Assessment' && this.systemDescriptionDTO.gxpFormId!=0 && !this.systemDescriptionDTO.freezeGxpForm"
          href="javascript:" class="m-r-10"><img class="image-radius rounded-0 img-27 img-height"
            src="assets/icon/png-icons/save.svg" alt="Update Gxp" placement="bottom" ngbTooltip="Update Gxp"
            (click)="this.gxpFormComponent.saveOrUpdateGxPForm();"></a>
        
        <a *ngIf="!isGxpPublished && this.title==='GxP Assessment' && this.systemDescriptionDTO.gxpFormId!=0" role="button"  class="m-r-10"><img class="image-radius rounded-0 img-27"
              src="assets/icon/png-icons/workflow-new.png" alt="Forum" placement="bottom" ngbTooltip="Workflow Setup"
              (click)="this.onClickWorkflow();"></a>
        
        <a *ngIf="isGxpPublished && this.title==='GxP Assessment' && this.systemDescriptionDTO.gxpFormId!=0 " href="javascript:"
           class="m-r-10"><img class="image-radius rounded-0 img-27" src="assets/icon/png-icons/workflow-new.png"
            alt="Workflow Configuration" placement="bottom" ngbTooltip="Workflow Configuration And Approval History" (click)="onClickWorkflowHistory()"></a>

        <!-- <a *ngIf="this.title==='GxP Assessment' && this.systemDescriptionDTO.gxpFormId!=0 && !this.systemDescriptionDTO.freezeGxpForm"
          href="javascript:" class="m-r-10"><img class="image-radius rounded-0 img-27"
            src="assets/icon/png-icons/verify.svg" alt="Verify" placement="bottom" ngbTooltip="Verify"
            (click)="this.gxpFormComponent.openModal(modal.projectName);"></a> -->

        <a *ngIf="isGxpImportprojects && this.title==='GxP Assessment' && this.systemDescriptionDTO.gxpFormId!=0 && !this.systemDescriptionDTO.freezeGxpForm"
          href="javascript:" class="m-r-10"><img class="image-radius rounded-0 img-27"
            src="assets/icon/png-icons/import-new.png" alt="Verify" placement="bottom" ngbTooltip="Import pdf settings"
            (click)="this.gxpFormComponent.openCopyPdfSettingsModal();"></a>

        <!-- <a *ngIf="this.title==='GxP Assessment'  && !this.systemDescriptionDTO.freezeGxpForm" href="javascript:"
          class="m-r-10"><img class="image-radius rounded-0 img-27" src="assets/icon/png-icons/notifiMail.svg"
            alt="Notify Users" placement="bottom" ngbTooltip="Notify Users" (click)="this.openEmailPopUp();"></a> -->

        <!-- <a *ngIf="this.title==='GxP Assessment'  && this.systemDescriptionDTO.gxpFormId!=0 && !this.systemDescriptionDTO.freezeGxpForm"
          href="javascript:" class="m-r-10"><img class="image-radius rounded-0 img-27"
            src="assets/icon/png-icons/lockDocument.svg" alt="Freeze GxP Form" placement="bottom"
            ngbTooltip="Freeze GxP Form" (click)="this.gxpFormComponent.freeze();"></a> -->

        <a *ngIf="isGxpWorkflowAdded && !isGxpPublished && this.title==='GxP Assessment'  && this.systemDescriptionDTO.gxpFormId!=0 && !this.systemDescriptionDTO.freezeGxpForm"
          href="javascript:" class="m-r-10"><img class="image-radius rounded-0 img-27"
            src="assets/icon/png-icons/published.png" alt="Publish GxP Form" placement="bottom"
            ngbTooltip="Publish GxP Form" (click)="this.publishGxp();"></a>

        <a *ngIf="this.title==='GxP Assessment' && this.systemDescriptionDTO.gxpFormId!=0 && this.gxpFormComponent 
                        && this.gxpFormComponent.model && this.gxpFormComponent.model.sectionFirst == 'GxP' && this.gxpFormComponent.model.sectionThree 
                        && this.gxpFormComponent.model.criticalLevelId" href="javascript:" class="m-r-10"><img
            class="image-radius rounded-0 img-27" src="assets/icon/png-icons/info.png" alt="Recommended deliverables"
            placement="bottom" ngbTooltip="Recommended deliverables"
            (click)="this.gxpFormComponent.viewDocumentForGxP();"></a>

        <a *ngIf="isGxpWorkflowCompleted && this.title==='GxP Assessment' && this.systemDescriptionDTO.gxpFormId!=0 " href="javascript:"
          class="m-r-10"><img class="image-radius rounded-0 img-27" src="assets/icon/png-icons/pdfDownload.svg"
            alt="PDF Download" placement="bottom" ngbTooltip="PDF Download"
            (click)="this.gxpFormComponent.download();"></a>

       

        <a *ngIf="!modal.publishedFlag && modal.id!=0 && modal.editable && (this.title==='Document Workflow Setup' || this.title==='Summary')"
          href="javascript:" class="m-r-10"><img class="image-radius rounded-0 img-27"
            src="assets/icon/png-icons/published.png" alt="Publish" placement="bottom" ngbTooltip="Publish"
            (click)="publishData();"></a>

        <a href="javascript:"><img class="image-radius rounded-0 img-27 img-height"
            src="assets/icon/png-icons/cancel.svg" alt="Cancel" placement="bottom" ngbTooltip="Cancel"
            [routerLink]="['/Project-setup/view-projectsetup']" routerLinkActive="active"></a>

      </div>
    </div>
  </app-card>
</div>

<form-wizard id="project-form-wizard" #formWizard (onStepChanged)="onStepChangedLoadData($event)">
  <wizard-step #wizardStep [title]="'Create Project'" [isValid]="this.modal.id!=0" id="addProject" [showNext]="false">
    <br>
    <div class="row ">
      <div class="col-sm-12">
        <form #projectsetup="ngForm">
          <table id="projectsetup-table" class="table w-100">
            <tbody>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-sm-4">
                      <strong class="strong">Project Name<span class="asterisk">*</span> :</strong>
                    </div>
                    <div class="col-sm-8">
                      <input type="text" id="projectName" [(ngModel)]="modal.projectName" class="form-control" autofocus
                        name="projectName" maxlength="49" (ngModelChange)="showNext()" placeholder="sample project"
                        #projectName="ngModel" required>
                      <div class="messages text-danger"
                        *ngIf="(projectName.touched || submitted) && projectName.errors?.required">
                        {{projectPlanSetupErrorTypes.projectNameValidation}}</div>
                      <div class="messages text-danger" *ngIf="projectName?.errors?.pattern">
                        {{projectPlanSetupErrorTypes.patternValidation}}</div>
                      <div class="messages text-danger" *ngIf="this.validationMessage!=''">{{this.validationMessage}}
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div class="col-sm-4">
                      <strong class="strong">Project Type<span class="asterisk">*</span> :</strong>
                    </div>
                    <div class="col-sm-8">
                      <select class="form-control" name="projectSetupType" [(ngModel)]="modal.projectType">
                        <option *ngFor="let data of projectTypeList" [value]="data.key">{{data.value}}</option>
                      </select>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <div class="row">
                    <div class="col-sm-4">
                      <strong class="strong">Project Code :</strong>
                    </div>
                    <div class="col-sm-8">
                      <input type="text" [(ngModel)]="modal.projectCode" class="form-control" name="projectCode"
                        placeholder="#1231313131" maxlength="49" #projectcode="ngModel">
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div class="col-sm-4">
                      <strong class="strong">Change Control Number :</strong>
                    </div>
                    <div class="col-sm-8">
                      <label>Custom Enable
                        <ui-switch (change)="enableOfCustomCCF()" [checked]="this.modal.customCCFEnable"
                          class="js-small" color="#3498DB" switchColor="#fff" size="small" unchecked>
                        </ui-switch>
                      </label>
                      <input *ngIf="this.modal.customCCFEnable" type="text" [(ngModel)]="modal.customCCFValue"
                        class="form-control" name="customCCF" maxlength="49" placeholder="Custom Change Control Number"
                        #customCCF="ngModel" />
                      <ng-select *ngIf="!this.modal.customCCFEnable" [ngClass]="'ng-select'" [options]="simpleOptionCCF"
                        [multiple]="true" [(ngModel)]="modal.changeControlForms" name="ccf" rounds="ngModel"
                        #ccf="ngModel">
                      </ng-select>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <div class="row">
                    <div class="col-sm-4">
                      <strong class="strong">Expected Start Date :</strong>
                    </div>
                    <div id="startDate" class="col-sm-8">
                      <my-date-picker (keypress)="$event.preventDefault();" #startDateElement name="startDate"
                        (click)="openBtnClicked(startDate)" [(ngModel)]="this.startDate"
                        (ngModelChange)="onChangeFromDate()" #dobstart="ngModel"
                        placeholder="Select Expected Start Date" [options]="myDatePickerOptions">
                      </my-date-picker>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div class="col-sm-4">
                      <strong class="strong">Expected End Date :</strong>
                    </div>
                    <div id="endDate" class="col-sm-8">
                      <my-date-picker (keypress)="$event.preventDefault();" #endDateElement name="endDate"
                        (click)="openBtnClicked(this.endDate)" [(ngModel)]="this.endDate"
                        (ngModelChange)="onChangeFromDate()" placeholder="Select Expected End Date"
                        [options]="myDatePickerOptions" #dobend="ngModel"></my-date-picker>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <div class="row">
                    <div class="col-sm-4">
                      <strong class="strong">Location<span class="asterisk">*</span> :</strong>
                    </div>
                    <div class="col-sm-8">
                      <angular2-multiselect name="locationName" [data]="this.locationList" id="locationId"
                        [(ngModel)]="modal.selectedLocations" #location="ngModel" required
                        [settings]="dropdownLocationSettings"
                        (onDeSelectAll)="checkLocationDepartmentUserAreInWorkflowDeSelectAll(this.locationList,modal.selectedLocations);"
                        (onDeSelect)="checkLocationDepartmentUserAreInWorkflow($event, modal.selectedLocations);"
                        (onSelectAll)="onChangeLocation($event)" (onSelect)="onChangeLocation(modal.selectedLocations)">
                      </angular2-multiselect>
                      <div class="messages text-danger"
                        *ngIf="(location.touched || submitted) && modal.selectedLocations.length==0">
                        {{projectPlanSetupErrorTypes.locationValidation}}</div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div class="col-sm-4">
                      <strong class="strong">Department<span class="asterisk">*</span> :</strong>
                    </div>
                    <div class="col-sm-8">
                      <angular2-multiselect #departmentSelect name="department" [data]="this.simpleOptionDepartment"
                        id="#departmentId" [(ngModel)]="modal.selectedDepartments"
                        (ngModelChange)="getDeptUsers(modal.selectedDepartments)" #department="ngModel" required
                        [settings]="dropdownLocationSettings"
                        (onDeSelectAll)="checkDepartmentUserAreInWorkflow($event,modal.selectedDepartments);"
                        (onDeSelect)="checkDepartmentUserAreInWorkflow($event,modal.selectedDepartments);"
                        (onSelectAll)="getDeptUsers(modal.selectedDepartments)"
                        (onSelect)="getDeptUsers(modal.selectedDepartments)"> </angular2-multiselect>
                      <div class="messages text-danger"
                        *ngIf="(department.touched || submitted) && modal.selectedDepartments.length==0">
                        {{projectPlanSetupErrorTypes.departmentNameValidation}}</div>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <div class="row">
                    <div class="col-sm-4">
                      <strong class="strong">System Owner :</strong>
                    </div>
                    <div class="col-sm-8">
                      <select class="form-control" name="owner" [(ngModel)]="modal.systemOwnerId">
                        <option value="" selected disabled>Select System Owner</option>
                        <option *ngFor="let data of userList" [value]="data.value">{{data.label}}</option>
                        <option value="0">N/A</option>
                      </select>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div class="col-sm-4">
                      <strong class="strong">Business Owner :</strong>
                    </div>
                    <div class="col-sm-8">
                      <angular2-multiselect #businessOwner [data]="this.simpleOptionBusinessOwner"
                        [settings]="dropdownLocationSettings" [(ngModel)]="modal.selectedBusinessOwner"
                        name="businessOwner" rounds="ngModel" #businessOwner="ngModel"> </angular2-multiselect>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <div class="row">
                    <div class="col-sm-4">
                      <strong class="strong">Introduction :</strong>
                    </div>
                    <div class="col-sm-8">
                      <ui-switch (change)="editorSwap =!editorSwap" [checked]="editorSwap" class="js-small"
                        color="#3498DB" switchColor="#fff" size="small"
                        [disabled]="(editorSwap && modal.introduction)?true:false"></ui-switch>
                      <label [class]="editorSwap?'text-danger':'text-success'">Enable Advance Editor</label>
                      <div *ngIf="editorSwap" name="introduction">
                        <quill-editor disabled="false" [(ngModel)]="modal.introduction"
                          [options]="this.helper.editQuillOptions" name="introduction"> </quill-editor>
                      </div>
                      <textarea *ngIf="!editorSwap" class="form-control max-textarea" [(ngModel)]="modal.introduction"
                        rows="4" name="introduction"></textarea>
                      <br>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div class="col-sm-4">
                      <strong class="strong">Purpose :</strong>
                    </div>
                    <div class="col-sm-8">
                      <ui-switch ng-model="all" (change)="editorSwappurposescope=!editorSwappurposescope"
                        [checked]="editorSwappurposescope" class="js-small" color="#3498DB" id="ui-switch"
                        switchColor="#fff" size="small"
                        [disabled]="(editorSwappurposescope && modal.purposeAndScope)?true:false">
                      </ui-switch>
                      <label [class]="editorSwappurposescope?'text-danger':'text-success'">Enable Advance Editor</label>
                      <div *ngIf="editorSwappurposescope">
                        <quill-editor [(ngModel)]="modal.purposeAndScope" [options]="this.helper.editQuillOptions"
                          name="purposeAndScope">
                        </quill-editor>
                      </div>
                      <textarea *ngIf="!editorSwappurposescope" class="form-control max-textarea"
                        [(ngModel)]="modal.purposeAndScope" rows="4" name="purposeAndScope"></textarea>
                      <br>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <div class="row">
                    <div class="col-sm-4">
                      <strong class="strong">Scope :</strong>
                    </div>
                    <div class="col-sm-8">
                      <ui-switch ng-model="all"
                        (change)="this.toggleEditordescriptionvar= !this.toggleEditordescriptionvar;" id="ui-switch"
                        [checked]="toggleEditordescriptionvar" class="js-small" color="#3498DB" switchColor="#fff"
                        [disabled]="(toggleEditordescriptionvar && modal.description)?true:false" size="small">
                      </ui-switch>
                      <label [class]="toggleEditordescriptionvar?'text-danger':'text-success'">Enable Advance
                        Editor</label>
                      <div *ngIf="toggleEditordescriptionvar">
                        <quill-editor [(ngModel)]="modal.description" [options]="this.helper.editQuillOptions"
                          name="description">
                        </quill-editor>
                      </div>
                      <textarea *ngIf="!toggleEditordescriptionvar" class="form-control max-textarea"
                        [(ngModel)]="modal.description" rows="4" name="description"></textarea>
                      <br>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div class="col-sm-4">
                      <strong class="strong">Active Flag :</strong>
                    </div>
                    <div class="col-sm-8">
                      <label class="switch"><input type="checkbox" name="activeFlag"
                          [(ngModel)]="modal.activeFlag" /><span class="slider round"></span></label>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="this.inputField">
            <app-form-extended #formExtendedId [(inputField)]='inputField'
              [documentId]="this.helper.PROJECT_SETUP_VALUE" [(submitted)]='submitted'></app-form-extended>
          </div>
        </form>
      </div>
    </div>
  </wizard-step>

  <wizard-step [title]="'System Description'" id="systemDescription" [showPrev]="false" [showNext]="false">
    <br>
    <div class="row">
      <div class="col-sm-12">
        <form [formGroup]="onSystemDescription">
          <table id="projectsetup-table" class="table w-100">
            <tbody>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-sm-4">
                      <strong class="strong">Equipment :</strong>
                    </div>
                    <div class="col-sm-8">
                      <select class="form-control" formControlName="equipmentId"
                        (ngModelChange)="onChangeEquipment($event)">
                        <option value="" disabled>Select Equipment</option>
                        <option *ngFor="let equipment of equipmentList" [value]="equipment.id">{{equipment.name}}
                        </option>
                        <option value="0">N/A</option>
                      </select>
                      <div *ngIf="this.systemDescriptionDTO.equipmentNo !=''" style="padding: 5px;">Equipment No :
                        {{this.systemDescriptionDTO.equipmentNo}} </div>
                      <div *ngIf="this.systemDescriptionDTO.equipmentMake !=''" style="padding: 5px;">Equipment Make:
                        {{this.systemDescriptionDTO.equipmentMake}} </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div class="col-sm-3">
                      <strong class="strong">Type :</strong>
                    </div>
                    <div class="col-sm-9">
                      <select class="form-control" formControlName="type">
                        <option value="">Select</option>
                        <option *ngFor="let data of this.typeList;" [value]="data.key">{{data.value}}</option>
                      </select>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-sm-4">
                      <strong class="strong">Software Name :</strong>
                    </div>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" formControlName="softwareName" placeholder="Software Name"
                        maxlength="49">
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div class="col-sm-3">
                      <strong class="strong">Software Version :</strong>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" formControlName="softwareVersion"
                        placeholder="Software Version" maxlength="49">
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-sm-4">
                      <strong class="strong">Use :</strong>
                    </div>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" formControlName="use" placeholder="Use" maxlength="49">
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div class="col-sm-3">
                      <strong class="strong">Supplier Name :</strong>
                    </div>
                    <div class="col-sm-9">
                      <select class="form-control" formControlName="supplierName">
                        <option value="" disabled>Select</option>
                        <option *ngFor="let data of this.vendorMasterList;" [value]="data.id">{{data.name}}
                        </option>
                      </select>
                      <a href="javascript:void(0);" class="float-right" style="text-decoration:underline !important;"
                        (click)="supplierForm.reset();addSupplierModal.show();submitSupplierForm=false;">Add
                        Supplier</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-sm-4">
                      <strong class="strong">Validation Strategy :</strong>
                    </div>
                    <div class="col-sm-8">
                      <ui-switch (change)="toggleValidationStrategy =!toggleValidationStrategy"
                        [checked]="toggleValidationStrategy" class="js-small" color="#3498DB" switchColor="#fff"
                        [disabled]="(toggleValidationStrategy && this.onSystemDescription.get('validationStrategy').value)?true:false"
                        size="small" id="ui-switch"></ui-switch>
                      <label [class]="toggleValidationStrategy?'text-danger':'text-success'">Enable Advance
                        Editor</label>
                      <div *ngIf="toggleValidationStrategy">
                        <quill-editor formControlName="validationStrategy" [options]="this.helper.editQuillOptions">
                        </quill-editor>
                      </div>
                      <textarea *ngIf="!toggleValidationStrategy" class="form-control max-textarea"
                        formControlName="validationStrategy" rows="4"></textarea>
                      <br>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div class="col-sm-3">
                      <strong class="strong">Acceptance Criteria :</strong>
                    </div>
                    <div class="col-sm-9">
                      <ui-switch (change)="toggleAcceptenceCriteria =!toggleAcceptenceCriteria"
                        [checked]="toggleAcceptenceCriteria" class="js-small" color="#3498DB" switchColor="#fff"
                        [disabled]="(toggleAcceptenceCriteria && this.onSystemDescription.get('acceptanceCriteria').value)?true:false"
                        size="small" id="ui-switch"></ui-switch>
                      <label [class]="toggleAcceptenceCriteria?'text-danger':'text-success'">Enable Advance
                        Editor</label>
                      <div *ngIf="toggleAcceptenceCriteria">
                        <quill-editor formControlName="acceptanceCriteria" [options]="this.helper.editQuillOptions">
                        </quill-editor>
                      </div>
                      <textarea *ngIf="!toggleAcceptenceCriteria" class="form-control max-textarea"
                        formControlName="acceptanceCriteria" rows="4"></textarea>
                      <br>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-sm-4">
                      <strong class="strong">Is GxP Assessment Required :</strong>
                    </div>
                    <div class="col-sm-8">
                      <ui-switch
                        (change)="this.onSystemDescription.get('gxpForm').value =!this.onSystemDescription.get('gxpForm').value"
                        [disabled]="this.systemDescriptionDTO.canDisableGxPForm"
                        [checked]="this.onSystemDescription.get('gxpForm').value" formControlName="gxpForm"
                        class="js-small" color="#3498DB" switchColor="#fff" size="small"></ui-switch>
                      <br>
                    </div>
                  </div>
                  <br>
                  <div class="row" *ngIf="!this.onSystemDescription.get('gxpForm').value">
                    <div class="col-sm-4">
                      <strong class="strong">GAMP Category :</strong>
                    </div>
                    <div class="col-sm-8">
                      <select class="form-control" formControlName="gampId">
                        <option value="0">NA</option>
                        <option *ngFor="let data of this.gampCategoriesList;" [value]="data.id">{{data.gampDesc}}
                        </option>
                      </select>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div class="col-sm-3">
                      <strong class="strong">Hosting Type :</strong>
                    </div>
                    <div class="col-sm-9">
                      <select class="form-control" formControlName="hostingType">
                        <option value="" disabled>Select</option>
                        <option *ngFor="let data of this.hostingTypeList;" [value]="data.key">{{data.value}}
                        </option>
                      </select>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <app-card>
            <div class="row">
              <div class="col-sm-6">
                <div class="page-header-title">
                  <div class="d-inline">
                    <h4 class="strong">Checklist({{systemDescriptionDTO.checklistCount}})</h4>
                  </div>
                </div>
              </div>
              <div class="col-sm-6" style="text-align: right;">
                <a container="body" *ngIf="!this.checklistFlag" href="javascript:;"
                  (click)="this.checklistFlag = !this.checklistFlag;loadProjectCheckList();"
                  class="m-r-15 crm-action-edit text-muted text-primary" placement="top" ngbTooltip="Expand">
                  <i style="font-size: 25px;color: black;" class="icofont icofont-circled-down"></i>
                </a>
                <a container="body" *ngIf="this.checklistFlag" href="javascript:;"
                  (click)="this.checklistFlag = !this.checklistFlag"
                  class="m-r-15 crm-action-edit text-muted text-primary" placement="top" ngbTooltip="Hide"><i
                    style="font-size: 25px;color: black;" class="icofont icofont-circled-up"></i>
                </a>
              </div>
            </div>
            <div *ngIf="this.checklistFlag">
              <div>
                <div class="form-group row"
                  *ngIf="systemDescriptionDTO.checklist && systemDescriptionDTO.checklist.length==0">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-primary btn-sm" (click)="this.addChecklistItem();">
                      <i class="icofont icofont-checked"></i>Add
                    </button>
                  </div>
                  <div class="col-sm-4"></div>
                </div>
                <ng-container *ngIf="systemDescriptionDTO.checklist.length>0">
                  <div class="col-sm-12">
                    <table id="equipment-table-checkList" class="table">
                      <thead class="panel-heading">
                        <tr class="w-100">
                          <td style="width: 1%;"><label class="strong">S No.</label></td>
                          <td class="w-40"><label class="strong">Name</label></td>
                          <td class="w-10"><label class="strong">Actions</label></td>
                        </tr>
                      </thead>
                      <tbody class="panel-body">
                        <ng-container *ngFor="let checkList of systemDescriptionDTO.checklist; let i = index">
                          <tr>
                            <td>
                              <label placement="top" triggers="mouseenter:mouseleave" ngbTooltip="Display Order">{{i+1}}
                              </label>
                            </td>
                            <td>
                              <input type="text" id="check_list_name_id_{{i}}" autofocus class="form-control"
                                [(ngModel)]="checkList.checklistName" (ngModelChange)="onChangecheckList()"
                                [ngModelOptions]="{standalone: true}" />
                            </td>
                            <td>
                              <a class="pointer" role="button" title="Add" (click)="addChecklistItem(checkList);">
                                <i class="icofont icofont-ui-add text-success"></i></a>
                              <a class="pointer" role="button" title="Delete"
                                (click)="deleteCheckList(checkList);onChangecheckList()">
                                <i class="icofont icofont-ui-delete text-danger"></i></a>
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                </ng-container>
              </div>
              <div style="color: red;" *ngIf="isCheckListEntered">Please Fill the Details to Continue . . .</div>
              <div style="color: red;" *ngIf="this.isValidDocumentOrder">Display Order can't be Duplicate . . .
                <br>
              </div>
            </div>
          </app-card>
          <app-file-upload-for-doc #fileupload [multiple]=true [onlyView]=false [documentId]="this.modal.id"
            [update]="this.modal.id!=0" [documentCode]="this.helper.PROJECT_SETUP_VALUE"></app-file-upload-for-doc>

          <app-project-url-checklist #checkListURLId view="project-setup-add" [projectId]="this.modal.id"
            [(checkList)]="this.systemDescriptionDTO.urlChecklist"> </app-project-url-checklist>
        </form>
      </div>
    </div>
  </wizard-step>

  <wizard-step [hidden]="!this.gxpForm" [title]="'GxP Assessment'" id="gxpForm" [showPrev]="false" [showNext]="false">
    <br>
    <app-gxp #gxpFORM *ngIf="stepGXPNext" [projectId]="this.modal.id" [id]="this.systemDescriptionDTO.gxpFormId"
      [freezeFlag]="this.systemDescriptionDTO.freezeGxpForm" (load)="loadSystemDescription(this.modal.id)"
      (onFreeze)="this.loadDataOnEdit(this.modal.id)"> </app-gxp>
  </wizard-step>

  <wizard-step [title]="'Document Workflow Setup'" id="addWorkFlow" [showPrev]="false" [showNext]="false">
    <br>
    <div *ngIf="this.step3ShowNext" class="row">
      <app-workflow-configuration class="col-sm-12" [projectId]="this.modal.id" [projectName]="this.modal.projectName">
      </app-workflow-configuration>
    </div>
  </wizard-step>

  <wizard-step [title]="'Summary'" id="summary" [showPrev]="false" [showNext]="false">
    <div><br>
      <div class="row">
        <div class="col-sm-8">
          <h4>&nbsp;&nbsp;Project Summary</h4>
        </div>
        <div class="col-sm-2" style="padding-top: 10px;">
          <span *ngIf="this.projectChecklistStatus !=''"> <span style="background-color: yellow;">Checklist</span> :
            <a href="javascript:void(0)" (click)="onClickChecklistStatus()">{{this.projectChecklistStatus}}</a></span>
          <div *ngIf="this.projectChecklistStatus !=''" style="display: flex;">
            <div style="font-size: 11px;padding-right: 3px;margin-top: -7px;">{{projectChecklistPercentage}}%</div>
            <div>
              <div class="progress" style="width: 90px;height: 8px;">
                <div class="progress-bar" [style.width]="projectChecklistPercentage + '%'"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <button type="button" *ngIf="data && data.workFlowCompletionFlag" class="btn btn-success"
            (click)="pushToDMS(data.id);">Push To DMS</button>
        </div>
      </div>
    </div>
    <br>
    <ng-container *ngIf="data">
      <table id="projectsetup-table" class="table w-100">
        <tbody>
          <tr>
            <td>
              <div><strong class="strong">Project Name : </strong>{{data.projectName}}</div>
            </td>
            <td>
              <div><strong class="strong">Project Type : </strong>{{data.projectType}}</div>
            </td>
          </tr>
          <tr>
            <td>
              <div><strong class="strong">Project Code : </strong>{{data.projectCode?data.projectCode:"N/A"}}</div>
            </td>

            <td>
              <div><strong class="strong">Department Name : </strong>{{data.departmentName}}</div>
            </td>
          </tr>
          <tr>
            <td>
              <div><strong class="strong">Expected Start Date : </strong>{{data.startDate?data.startDate:'N/A'}}</div>
            </td>
            <td>
              <div><strong class="strong">Expected End Date : </strong>{{data.endDate?data.endDate:'N/A'}}</div>
            </td>
          </tr>
          <tr>
            <td>
              <div><strong class="strong">System Owner : </strong>{{data.systemOwnerName?data.systemOwnerName:'N/A'}}
              </div>
            </td>
            <td>
              <div><strong class="strong">Business Owner :
                </strong>{{data.businessOwnerName?data.businessOwnerName:'N/A'}}</div>
            </td>
          </tr>
          <tr>
            <td>
              <div><strong class="strong">Introduction : </strong>
                <label name="introduction" [innerHtml]="data.introduction?data.introduction:'N/A'"></label>
              </div>
            </td>
            <td>
              <div><strong class="strong">Purpose : </strong>
                <label name="purposeAndScope" [innerHtml]="data.purposeAndScope?data.purposeAndScope:'N/A'"></label>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div><strong class="strong">Scope : </strong>
                <label name="description" [innerHtml]="data.description?data.description:'N/A'"></label>
              </div>
            </td>
            <td>
              <div><strong class="strong">GAMP Category : </strong>
                {{data.systemDescription.gampCategory?data.systemDescription.gampCategory:'N/A'}}
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div><strong class="strong">Validation Status : </strong>
                <span class="bg-yellow">{{data.validationStatus?data.validationStatus:'N/A'}}</span>
              </div>
            </td>
            <td>
              <div><strong class="strong">System Status : </strong>
                <span class="bg-yellow">{{data.systemStatus?data.systemStatus:'N/A'}}</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div><strong class="strong">Equipment Name : </strong>
                {{data.systemDescription.equipmentName?data.systemDescription.equipmentName:'N/A'}}
              </div>
            </td>
            <td>
              <div><strong class="strong">Location Name : </strong>{{data.locationName}}</div>
            </td>
          </tr>
          <tr>
            <td>
              <div><strong class="strong">Type : </strong>
                {{data.systemDescription.type ? data.systemDescription.type :'N/A'}}
              </div>
            </td>
            <td>
              <div><strong class="strong">Software Name :
                </strong>{{data.systemDescription.softwareName?data.systemDescription.softwareName:'N/A'}}</div>
            </td>
          </tr>
          <tr>
            <td>
              <div><strong class="strong">Software Version : </strong>
                {{data.systemDescription.softwareVersion?data.systemDescription.softwareVersion:'N/A'}}
              </div>
            </td>
            <td>
              <div><strong class="strong">Use : </strong>{{data.systemDescription.use ? data.systemDescription.use :
                'N/A'}}</div>
            </td>
          </tr>
          <tr>
            <td>
              <div><strong class="strong">Supplier Name : </strong>
                {{data.systemDescription.supplierDisplayName?data.systemDescription.supplierDisplayName:'N/A'}}
              </div>
            </td>
            <td>
              <div><strong class="strong">Status :</strong>
                <span *ngIf="data.workFlowCompletionFlag">Completed</span>
                <span *ngIf="!data.workFlowCompletionFlag">Pending</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div><strong class="strong">Hosting Type : </strong>
                {{data.systemDescription.hostingType?data.systemDescription.hostingType:'N/A'}}
              </div>
            </td>
            <td>
              <div><strong class="strong">Acceptance Criteria : </strong>
                <p *ngIf="data.systemDescription.acceptanceCriteria" name="acceptanceCriteria"
                  [innerHtml]="data.systemDescription.acceptanceCriteria"></p>
                <ng-container *ngIf="!data.systemDescription.acceptanceCriteria">N/A</ng-container>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div><strong class="strong">Validation Strategy : </strong>
                <p *ngIf="data.systemDescription.acceptanceCriteria" name="validationStrategy"
                  [innerHtml]="data.systemDescription.validationStrategy"></p>
                <ng-container *ngIf="!data.systemDescription.validationStrategy">N/A</ng-container>
              </div>
            </td>
            <td>
              <div><strong class="strong">Release Date : </strong>
                {{data.displayReleaseDate}}
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div><strong class="strong">Change Control Number :
                </strong>{{data.customCCFValue?data.customCCFValue:'N/A'}}</div>
            </td>
            <td>
              <div><strong class="strong">Next Review Date : </strong>
                {{data.nextReviewDate?data.nextReviewDate:'N/A'}}
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="this.fileFlag" class="form-group row">
        <div class="col-sm-12"><strong class="strong">View Uploaded SOP Files</strong></div>
        <div class="col-sm-12 p-0">
          <app-file-upload-for-doc #viewFileupload [uniqueCodeForAudit]="data.projectName"
            [documentId]="data.systemDescription.id" [multiple]=false [onlyView]=true
            [documentCode]="this.helper.PROJECT_SETUP_VALUE"></app-file-upload-for-doc>
        </div>
      </div>

      <div *ngIf="this.checkListFlag" class="form-group row">
        <div class="col-sm-12"><strong class="strong">URL Reference</strong></div>
        <div class="col-sm-12 p-0">
          <app-project-url-checklist #checkListURLId view="project-setup-view" [projectId]="data.id">
          </app-project-url-checklist>
        </div>
      </div>

      <div *ngIf="gxpForm" class="form-group row">
        <div class="col-sm-12"><strong class="strong">GxP Assessment</strong></div>
        <div style="pointer-events: none;" class="col-sm-12 p-0">
          <app-gxp [projectId]="data.id" [freezeFlag]="true"> </app-gxp>
        </div>
      </div>

      <div class="col-sm-12"><strong class="strong">Document List</strong></div>
      <div class="col-sm-12 p-0">
        <ng-container *ngFor="let config of data.documentConfigurations">
          <app-workflow-flowchart [workFlowChartData]="config" #workFlowChart></app-workflow-flowchart>
        </ng-container>
      </div>
      <br>
    </ng-container>
  </wizard-step>
</form-wizard>

<app-modal-basic id="modal-lg-50" #sendGxPMailModal [hideHeader]="false" [hideFooter]="false"
  [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h5 class="font-header"><strong>Notify User</strong></h5>
    <button type="button" class="close basic-close-light-box" (click)="cancelEmail();">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group row">
          <label class="col-sm-8 col-form-label">Users <span class="asterisk required">*</span></label>
          <div class="col-sm-10">
            <span>
              <angular2-multiselect name="users" [data]="gxpUserList" id="users" required #users="ngModel"
                [(ngModel)]="selectedUsersForEmail" [settings]="dropdownSettings">
              </angular2-multiselect>
              <div class="messages text-danger" *ngIf="users.touched && users.errors?.required">Users can't be blank
              </div>
            </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-8 col-form-label">Remarks</label>
          <div class="col-sm-10">
            <span>
              <textarea style="width:-webkit-fill-available" [(ngModel)]="remarksForEmail" name="remarks"
                #remarks="ngModel" [attr.rows]="3"></textarea>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="width: 100%;" class="app-modal-footer">
    <div class="row">
      <div style="text-align: center;" class="col-sm-12">
        <button class="btn btn-success" (click)="sendEmail();">Send</button>
        <button class="btn btn-danger" (click)="cancelEmail();">Cancel</button>
      </div>
    </div>
  </div>
</app-modal-basic>

<app-modal-basic #projectStatusModal [hideHeader]="false" [hideFooter]="false" [dialogClass]="'modal-md'">
  <div class="app-modal-header">
    <h5 class="font-header"><strong>project Status</strong></h5>
    <button type="button" class="close basic-close" (click)="onCloseProjectStatusModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group row">
          <label class="col-sm-8 col-form-label">Validation status <span class="asterisk required">*</span></label>
          <div class="col-sm-10">
            <span>
              <select class="form-control" [(ngModel)]="projectStatusDTO.validationStatus">
                <option *ngFor="let data of this.validationStatusList;" [value]="data.key">{{data.value}}
                </option>
              </select>
            </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-8 col-form-label">System status<span class="asterisk required">*</span></label>
          <div class="col-sm-10">
            <span>
              <select class="form-control" [(ngModel)]="projectStatusDTO.systemStatus">
                <option *ngFor="let data of this.systemStatusList;" [value]="data.key">{{data.value}}
                </option>
              </select>
            </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-8 col-form-label">Comments<span class="asterisk required">*</span></label>
          <div class="col-sm-10">
            <span>
              <textarea style="width:-webkit-fill-available" [(ngModel)]="projectStatusDTO.comments" name="remarks"
                #remarks="ngModel" [attr.rows]="3"></textarea>
            </span>
          </div>
        </div>
      </div>
      <div *ngIf="spinnerFlag" class="loading">Loading&#8230;</div>
    </div>
  </div>
  <div style="width: 100%;" class="app-modal-footer">
    <div class="row">
      <div style="text-align: center;" class="col-sm-12">
        <button class="btn btn-success" [disabled]="projectStatusDTO.comments == ''"
          (click)="saveStatus();">Update</button>
        <button class="btn btn-danger" (click)="onCloseProjectStatusModal()">Cancel</button>
      </div>
    </div>
  </div>
</app-modal-basic>

<app-modal-basic id="modal-lg-50" #addSupplierModal [hideHeader]="false" [hideFooter]="false"
  [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h5 class="font-header"><strong>Add Supplier</strong></h5>
    <button type="button" class="close basic-close-light-box" (click)="supplierForm.reset();addSupplierModal.hide();">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <div class="row col-sm-12">
      <div class="col-sm-12">
        <form [formGroup]="supplierForm">
          <div class="form-group row">
            <strong class="strong m-l-15">Name<span class="asterisk required">*</span> :</strong>
            <div class="col-sm-12">
              <input type="text" name="supplierName" id="name" class="form-control" placeholder="Name"
                formControlName="name" maxlength="50" />
              <div class="messages text-danger"
                *ngIf="(supplierForm.get('name').touched || submitSupplierForm) && supplierForm.get('name').hasError('required')">
                Name is Required</div>
            </div>
          </div>

          <div class="form-group row">
            <strong class="strong m-l-15">Code<span class="asterisk required">*</span> :</strong>
            <div class="col-sm-12">
              <input type="text" name="supplierCode" id="code" class="form-control" placeholder="Code"
                formControlName="code" maxlength="50" />
              <div class="messages text-danger"
                *ngIf="(supplierForm.get('code').touched || submitSupplierForm) && supplierForm.get('code').hasError('required')">
                Code is Required</div>
            </div>
          </div>

          <div class="form-group row">
            <strong class="strong m-l-15">Email<span class="asterisk required">*</span> :</strong>
            <div class="col-sm-12">
              <input type="text" name="supplierEmail" id="email" class="form-control" placeholder="ex- abc@abc.com"
                formControlName="email" maxlength="50" />
              <div class="messages text-danger"
                *ngIf="(supplierForm.get('email').touched || submitSupplierForm) && supplierForm.get('email').hasError('required')">
                Email is Required</div>
              <div class="messages text-danger" *ngIf="supplierForm.get('email').errors?.pattern">Please enter a valid
                Email Id</div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="app-modal-footer">
    <div class="row">
      <div class="col-sm-12 text-center">
        <button type="button" class="btn btn-sm btn-success waves-effect waves-light m-r-10"
          (click)="saveSupplier();">Save</button>
        <button type="button" class="btn btn-sm btn-danger waves-effect waves-light m-r-10"
          (click)="supplierForm.reset();addSupplierModal.hide();">Cancel</button>
      </div>
    </div>
  </div>
</app-modal-basic>

<app-project-checklist #projectCheckList (onClose)="loadProjectCheckListStatusCount();"></app-project-checklist>

<app-veification-history #verificationHistoryModal [permissionConstant]="100" [projectId]="this.modal.id">
</app-veification-history>

<div *ngIf="spinnerFlag" class="loading">Loading&#8230;</div>
<app-add-document-workflow #addDocumentWorkFlow [projectId]="this.modal.id" [permissionConstant]="114"  (onClose)="onCloseAddWorkflowModal()"></app-add-document-workflow>
<app-document-workflow-history  #documentWorkFlowHistory [permissionConstant]="114"></app-document-workflow-history>