

    <div class="pcoded-main-container">
      <div class="pcoded-wrapper">
        <div class="page-wrapper">
          <div class="page-body">
            <section class="login offline-404 p-fixed d-flex text-center">
              <!-- starts -->
              <div class="auth-fluid">
                <div class="row">
                  <div class="col-sm-12">
                    <!-- auth body start -->
                    <div class="auth-body">
                      <form>
                        <h1>404 not Found</h1>
                        <h2>Oops! Either you are not allowed here or the url does not exist</h2>

                        <a [routerLink]="['/MainMenu']" class="btn btn-primary btn-lg m-t-30">Back to Home</a>
                      </form>
                    </div>
                    <!-- auth body end -->
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>

