<app-card [title]="''" [classHeader]="true" [blockClass]="'table-border-style'">
  <br>
  <ngb-tabset #taskTab="ngbTabset">
    <ngb-tab id="detail" title="">
      <ng-template ngbTabContent>
        <div class="col-sm-12">
          <table class="traceability table-responsive" cellpadding="6" border="1" [mfData]="traceabilityData" #mfmainTable="mfDataTable" [mfRowsOnPage]="10">
            <tbody>
            <tr>
                <th>Test Run Name</th>
                <th>Id</th>
                <th>Description</th>
                <th>Status</th>
                <th style="width: 570px;" > URS Details</th>      
                <th>Risk Assesment</th>      
              </tr>
            
              <tr *ngFor="let row of mfmainTable.data; let j=index; let length=count;">
                <td>{{row['testRunName']}}</td>
                <td>{{row['testCaseId']}}</td>
                <td>
                  <strong *ngIf="row.description"
                    style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: normal;">
                    <textarea class="multiple-textarea" [rows]="(row.description.length/30)+1"
                      [innerHtml]="row.description"></textarea>
                  </strong>
                </td>
                <td>
                  <strong style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: normal;"
                    [ngStyle]="{'color':  row.priorityColor}">{{row['status']}}</strong>
                </td>
                <td colspan="2">
                  <table class="traceability table-responsive" cellpadding="6" border="1">
                    <ng-container *ngIf="row.ursInfo.length != 0">
                      <tr *ngFor="let urs of row.ursInfo;let i = index;">
                        <td class="float-right p-0">
                          <div class="table-responsive  table-bordered tableFixHead">
                            <table [mfData]="row.ursInfo" #mfu="mfDataTable">
                              <tr>
                                <th>URS Code</th>
                                <th>Requirement</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Priority</th>
                              </tr>
                              <tbody>
                                <td > <a [routerLink]="['/URS/view-urs']"
                                    [queryParams]="{ id: urs.id,status:urs.redirctURL}">
                                    {{urs.documentCode}}</a></td>
                                <td >{{urs.documentName}}</td>
                                <td >{{urs.description}}</td>
                                <td >{{urs.category}}</td>
                                <td  [ngStyle]="{'color':  urs.priorityColor}">
                                  {{urs.priority}}</td>
                              </tbody>
                            </table>
                          </div>
                        </td>
                        <td class="p-0">
                          <div *ngIf="row.riskInfo.length != 0" class="table-responsive  table-bordered tableFixHead">
                            <table [mfData]="row.riskInfo" #mf="mfDataTable">
                              <ng-container *ngFor="let m of mf.data;">
                                <ng-container *ngIf="m.name == urs.documentCode">
                                <thead>
                                  <tr>
                                    <th>Risk Code</th>
                                    <th style="width: 20%;">Risk Factor</th>
                                    <th>RPN</th>
                                    <th>Risk Priority</th>
                                    <th>Criticality</th>
                                  </tr>
                                </thead>
                                <tbody *ngFor="let risk of m.dto;">
                                  <td> <a [routerLink]="['/riskAssessment']"
                                      [queryParams]="{ id: risk.id,status:risk.redirctURL}">{{risk.documentCode}}</a>
                                  </td>
                                  <td *ngIf="risk.riskFactor != null">
                                    <div style="width:100%">
                                      <textarea class="multiple-textarea" [rows]="(risk.riskFactor.length/20)+1"
                                        [innerHtml]="risk.riskFactor"></textarea>
                                    </div>
                                  </td>
                                  <td>{{risk.rpn}}</td>
                                  <td [ngStyle]="{'color':  risk.riskPriorityColor}">{{risk.priority}}</td>
                                  <td>{{risk.critical}}</td>
                                </tbody>
                              </ng-container>
                              </ng-container>
                            </table>
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                  </table>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                  <td colspan="6">
                      <mfBootstrapPaginator ></mfBootstrapPaginator>
                  </td>
              </tr>
              </tfoot>
          </table>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</app-card>

<div *ngIf="spinnerFlag" class="loading">Loading&#8230;</div>









<!-- <ngx-datatable #myTable class="data-table dt-chk" [rows]='traceabilityData | TracebilityDetailFilterPipe : filterQuery'
       [limit]="10" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" >
       <ngx-datatable-column style="font-weight: bold;" name="Test Run Name">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <strong
            style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: normal;"> {{row['testRunName']}}</strong>
        </ng-template>
      </ngx-datatable-column>
       <ngx-datatable-column style="font-weight: bold;" name="Id">
         <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
           <strong
             style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: normal;"> {{row['testCaseId']}}</strong>
         </ng-template>
       </ngx-datatable-column>
      
         <ngx-datatable-column style="font-weight: bold;" name="Description" [width]="450">
             <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
               <strong *ngIf="row.description" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: normal;">
                     <textarea class="multiple-textarea" [rows]="(row.description.length/30)+1"[innerHtml]="row.description"></textarea>
                 </strong>
             </ng-template>
           </ngx-datatable-column>
    <ngx-datatable-column style="font-weight: bold;" name="Status">
         <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
           <strong
             style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: normal;"  [ngStyle]="{'color':  row.priorityColor}">{{row['status']}}</strong>
         </ng-template>
       </ngx-datatable-column>
    <ngx-datatable-column style="font-weight: bold;" name="URS Details" [width]="600">
                 <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                  <ng-container *ngIf="row.ursInfo.length != 0">
                  <ng-container *ngFor="let urs of row.ursInfo;let i = index;">
                  <div  class="table-responsive  table-bordered tableFixHead">
                      <table  class="table-content-wrap">
                           <tr>
                             <th>URS Code</th>
                             <th>Requirement</th>
                             <th>Description</th>
                             <th>Category</th>
                             <th>Priority</th>
                           </tr>
                         <tbody >
                     <td> <a [routerLink]="['/URS/view-urs']" [queryParams]="{ id: urs.id,status:urs.redirctURL}">
                          {{urs.documentCode}}</a></td>
                          <td>{{urs.documentName}}</td>
                         <td>{{urs.description}}</td>
                     <td>{{urs.category}}</td>
         <td [ngStyle]="{'color':  urs.priorityColor}">{{urs.priority}}</td>
             <tr *ngFor="let i of this.helper.arrayCreationForNumbers(urs.rowSpan)">
             <td colspan="5" style="padding: 3.5%;"></td>
            </tr>
        </tbody>
               </table>
                </div>
                <br>
              </ng-container>
            </ng-container>
                 </ng-template>
               </ngx-datatable-column>
           <ngx-datatable-column style="font-weight: bold;" name="Risk Assessment"[width]="800" >
               <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                   <div *ngIf="row.riskInfo.length != 0" class="table-responsive  table-bordered tableFixHead">
                 <table  [mfData]="row.riskInfo" #mf="mfDataTable" >
                  <ng-container *ngFor="let m of mf.data; let i = index;">
                  <thead>
                       <tr>
                         <th>Risk Code</th>
                         <th style="width: 20%;">Risk Factor</th>
                         <th>RPN</th>
                         <th>Risk Priority</th>
                         <th>Criticality</th>
                       </tr>
                     </thead>
                     <tbody *ngFor="let risk of m.dto;">
                 <td> <a [routerLink]="['/riskAssessment']" [queryParams]="{ id: risk.id,status:risk.redirctURL}">{{risk.documentCode}}</a></td>
                 <td *ngIf="risk.riskFactor != null"><div style="width:100%">
                  <textarea class="multiple-textarea" [rows]="(risk.riskFactor.length/20)+1"
                    [innerHtml]="risk.riskFactor"></textarea>
                  </div></td>
                 <td>{{risk.rpn}}</td>
                 <td [ngStyle]="{'color':  risk.riskPriorityColor}">{{risk.priority}}</td>
                 <td>{{risk.critical}}</td>
                 </tbody>
                  </ng-container>
                 </table>
                 </div>
               </ng-template>
             </ngx-datatable-column>
     </ngx-datatable> -->



     <!-- <ngx-datatable-column style="font-weight: bold;" name="Spec Details" [width]="600">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <div  class="table-responsive  table-bordered tableFixHead">
          <table *ngIf="row.specifInfo.length != 0" class="table-content-wrap">
              <thead>
                <tr>
                  <th>Spec Code</th>
                  <th>Type</th>
                  <th>Description</th>
                  <th>Priority</th>
                </tr>
              </thead>
              <tbody *ngFor="let spec of row.specifInfo;">
                  <a [routerLink]="['/URS/view-urs']" [queryParams]="{ id: urs.id,status:urs.redirctURL}">
                    {{urs.documentCode}}</a>
          <td>{{spec.documentCode}}</td>
          <td>{{spec.category}}</td>
              <td>{{spec.description}}</td>
<td [ngStyle]="{'color':  urs.priorityColor}">{{urs.priority}}</td>
      </tbody>
    </table>
</div>
      </ng-template>
    </ngx-datatable-column>
<ngx-datatable-column style="font-weight: bold;" name="Urs Details" [width]="600"> -->