<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>404 HTML Template by Adventsys</title>
	<!-- Google font -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet"> -->
</head>

<body>
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1 style="color: darkgrey;">Oops!<br>
        <h3 style="color: red;">You do not have permission<br> to view this page.<br> Kindly contact your administrator</h3></h1>
       
      </div>
      <a (click)="this.router.navigate(['/MainMenu'])">Go to welcome page</a>
    </div>
    
	</div>
</body>
</html>
