tbody.fixed-header {
    padding: 0px !important;
    padding-left: 1% !important;
    overflow: scroll !important;
    overflow-y: visible !important;
    overflow-x: hidden !important;
    max-height: 400px !important;
  }
  
  table.fixed { table-layout:fixed; }
  table.fixed td { overflow: hidden; }
  
  .small-tc-dot {
    height: 12px;
    width: 12px;
    border-radius: 55%;
    display: inline-block;
  }