<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <app-card>
        <div class="page-header-title">
          <i class="icofont icofont-key bg-c-blue"></i>
          <div class="d-inline">
            <h4>Change Password</h4>
          </div>
        </div>
      </app-card>
      <app-card> 
      <form #changePwd="ngForm">
        <div>
          <div>
            <label>Old Password<span class="asterisk">*</span></label>
            <br>
            <input type="password" class="form-control" id="old" name="old" placeholder="Old password" [(ngModel)]="oldPassword" required
              #old="ngModel" (change)="checkOldPswd()"><br>
            <div *ngIf="old.errors && (old.dirty || old.touched || submitted)" class="messages text-danger">
              <div [hidden]="!old.errors.required">
                Old Password is required
              </div>
            </div>
            <div *ngIf="oldPasswordValidationMsg!=''" class="messages text-danger">{{oldPasswordValidationMsg}}</div>
          </div><br>

          <div *ngIf="oldPasswordConfirmedFlag">
            <div>
              <label>New Password<span class="asterisk">*</span></label>
              <br>
              <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New Password" [(ngModel)]="newPassword" (ngModelChange)="passwordCheck()"
                #newPswd="ngModel" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&+=])(?=\S+$).{5,40}$" required="required"><br>
              <label class="messages text-danger" *ngIf="newPswd?.errors?.pattern ">Use 5 or more characters with a mix of upper & lower letters, numbers & symbols (Ex-<strong style="font-style: italic;color: black;">!@#$%^&+=</strong>).</label>
              <div *ngIf="newPswd.errors && (newPswd.dirty ||newPswd.touched || submitted)" class="messages text-danger"
                [hidden]="!newPswd.errors.required">
                New Password is required
              </div>
            </div><br>

            <div>
              <label>Confirm Password<span class="asterisk">*</span></label>
              <input [type]="isTextFieldType ? 'text' : 'password'" class="form-control" id="confirmPassword" placeholder="Confirm" name="confirmPassword"
                [(ngModel)]="confirmPassword" #confirm="ngModel" (ngModelChange)="passwordCheck()">
                <span class="icofont icofont-eye-alt errspan" *ngIf="!isTextFieldType" (click)="togglePasswordFieldTypeFeild()"></span>
                <span class="icofont icofont-eye-blocked errspan" *ngIf="isTextFieldType" (click)="togglePasswordFieldTypeFeild()"></span>
              <div *ngIf="confirm.errors && (confirm.dirty ||confirm.touched || submitted)" class="messages text-danger">
                <div [hidden]="!confirm.errors.required">
                  Confirm Password is required
                </div>
              </div>
              <div *ngIf="isPasswordMatch && confirmPassword!=''" class="messages text-danger">Passwords are not Matching</div>
            </div>

            <div style="float:center;">
              <br>
              <button type="button" class="btn btn-success" (click)="saveAndGoTo($event,changePwd.valid)" [disabled]="isValidPassword">Submit
              <span *ngIf="this.isLoading" class="ti-reload rotate-refresh"></span>&nbsp;
              </button>
              <button type="button" class="btn btn-danger" [routerLink]="['/dashboard']" routerLinkActive="active">Back
              </button>
            </div>
          </div>

        </div>
      </form>
      </app-card>
    </div>
    <div class="col-sm-3"></div>
</div>
<div *ngIf="spinnerFlag" class="loading">Loading&#8230;</div>