<div *ngIf="!iscreate" class="row">
  <div class="col-sm-12">
    <app-card>
      <app-card>
        <div class="page-header-title">
          <i class="icofont icofont-washing-machine bg-c-blue"></i>
          <div class="d-inline">
            <h4>Device Master</h4>
            <span>view all Device Data</span>
          </div>
        </div>
      </app-card>
      <div>
        <button type="button" class="btn btn-primary" (click)="onClickCreate()">
          <i class="icofont icofont-plus-circle"></i> Add Device Data
        </button>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
          <div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div style="text-align: right;">
            <label>Search:
              <input type="search" [(ngModel)]="filterQuery" (ngModelChange)="this.helper.setPaginator(table)"
                class="form-control input-sm full-data-search" name=search placeholder="Search">
            </label>
          </div>
        </div>
      </div>
      <ngx-datatable [scrollbarH]="true" #myTable class="data-table dt-chk"
        [rows]='data | DeviceMasterFilterPipe : filterQuery' [limit]="10" [columnMode]="'force'" [headerHeight]="50"
        [footerHeight]="50" [rowHeight]="'auto'">
        <ngx-datatable-column [width]="70" [sortable]="false" [canAutoResize]="false" [draggable]="false"
          [resizeable]="false" name="Sl No.">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <strong>{{row['$$index']+1}}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column style="font-weight: bold;" name="Asset Id">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <strong
              style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: normal;">{{row['assetId']}}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column style="font-weight: bold;" name="IP Address">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <strong
              style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: normal;">{{row['deviceIPaddress']}}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column style="font-weight: bold;" name="Device OS">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <strong
              style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: normal;">{{row['deviceOS']}}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column style="font-weight: bold;" name="MAC Id">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <strong
              style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: normal;">{{row['deviceMCid']}}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column style="font-weight: bold;" name="Purchase Date">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <strong
              style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: normal;">{{row['purchaseDate']}}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column style="font-weight: bold;" name="Status">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <strong
              style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: normal;">{{row['activeFlage']?'Active':'In-Active'}}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Action">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a container="body" href="javascript:;" *ngIf="permissionModal.updateButtonFlag" (click)="editBatch(row)"
              class="m-r-15 crm-action-edit text-muted text-primary" placement="top" ngbTooltip="Edit">
              <i class="icofont icofont-edit edit"></i>
            </a>
            <a container="body" href="javascript:;" *ngIf="permissionModal.deleteButtonFlag"
              class="m-r-15 crm-action-delete text-muted text-danger"
              (click)="openSuccessCancelSwal(row , row['$$index'] );" placement="top" ngbTooltip="Delete">
              <i class="icofont icofont-bin bin"></i>
            </a>
            <a container="body" *ngIf="row.fileName" href="javascript:;"
              class="m-r-15 crm-action-delete text-muted text-danger" (click)="downloadFile(row , row['$$index'] );"
              placement="top" ngbTooltip="Download">
              <i style="font-size: 25px;" class="icofont icofont-download video"></i>
            </a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </app-card>
  </div>
</div>

<div *ngIf="iscreate" class="row">
  <div class="col-sm-12">
    <app-card>
      <app-card>
        <div class="page-header-title">
          <i class="icofont icofont-washing-machine bg-c-blue"></i>
          <div class="d-inline">
            <h4>Device Master</h4>
            <span>Add Device Data</span>
          </div>
        </div>
      </app-card>
      <form [formGroup]="deviceMasterForm">
        <table id="add-table" class="table w-100">
          <tbody>
            <tr>
              <td>
                <div class="row">
                  <div class="col-sm-3">
                    <strong class="strong">Device MAC Id<span class="asterisk required">*</span> :</strong>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="pN" class="form-control" placeholder="device MAC ID"
                      formControlName="deviceMCID" maxlength="50">
                    <div class="col-sm-10" *ngFor="let validation of validation_messages.deviceMCID">
                      <p class="text-danger"
                        *ngIf="deviceMasterForm.get('deviceMCID').hasError(validation.type) && submitted">
                        <span>{{ validation.message }}</span>
                      </p>
                    </div>
                  </div>
                </div>
              </td>

              <td>
                <div class="row">
                  <div class="col-sm-3">
                    <strong class="strong">Asset Id :</strong>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="code" class="form-control" placeholder="" formControlName="asstId"
                      maxlength="50">
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="row">
                  <div class="col-sm-3">
                    <strong class="strong">Device-IP Address<span class="asterisk required">*</span> :</strong>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" name="code" class="form-control" placeholder="Static IP"
                      formControlName="ipAddress" maxlength="50">
                    <div class="col-sm-10" *ngFor="let validation of validation_messages.ipAddress">
                      <p class="text-danger"
                        *ngIf="deviceMasterForm.get('ipAddress').hasError(validation.type) && submitted">
                        <span>{{ validation.message }}</span>
                      </p>
                    </div>
                  </div>
                </div>
              </td>

              <td>
                <div class="row">
                  <div class="col-sm-3">
                    <strong class="strong">Operating System<span class="asterisk required">*</span> :</strong>
                  </div>
                  <div class="col-sm-9">
                    <select name="select" class="form-control" formControlName="deviceOS">
                      <option value="">Select Type</option>
                      <option *ngFor="let os of operatingSysytem" [value]="os.key">{{os.value}}</option>
                    </select>
                    <div class="col-sm-10" *ngFor="let validation of validation_messages.deviceOS">
                      <p class="text-danger"
                        *ngIf="deviceMasterForm.get('deviceOS').hasError(validation.type) && submitted">
                        <span>{{ validation.message }}</span>
                      </p>
                    </div>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="row">
                  <div class="col-sm-3">
                    <strong class="strong">Type<span class="asterisk required">*</span> :</strong>
                  </div>
                  <div class="col-sm-9">
                    <select name="select" class="form-control" formControlName="deviceType">
                      <option value="">Select Type</option>
                      <option *ngFor="let status of deviceType" [value]="status.key">{{status.value}}</option>
                    </select>
                    <div class="col-sm-10" *ngFor="let validation of validation_messages.deviceType">
                      <p class="text-danger"
                        *ngIf="deviceMasterForm.get('deviceType').hasError(validation.type) && submitted">
                        <span>{{ validation.message }}</span>
                      </p>
                    </div>
                  </div>
                </div>
              </td>

              <td>
                <div class="row">
                  <div class="col-sm-3">
                    <strong class="strong">Purchase Date :</strong>
                  </div>
                  <div class="col-sm-9">
                    <input class="form-control" name="comapnyLicenseValidTill" mwlFlatpickr
                      formControlName="purchaseDate" readonly="readonly" [altInput]="true" [convertModelValue]="true"
                      [enableTime]="false" dateFormat="Y-m-dTH:i" [altFormat]="this.pattern" placeholder="" [maxDate]="today"/>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="row">
                  <div class="col-sm-3">
                    <strong class="strong">Upload File :</strong>
                  </div>
                  <div class="col-sm-9">
                    <input class="form-control" type="file" #fileuploaddiv id="file" accept=".pdf,.doc,.docx"
                      (change)="onSelectFile($event);" name="file">
                    <span *ngIf="(isUpdate && fileExist)">File: {{this.modal.fileName}}&nbsp;&nbsp;</span>
                    <a *ngIf="isUpdate && fileExist && permissionModal.viewButtonFlag"
                      style="cursor:pointer;font-weight: bold" ngbTooltip="View" (click)="fileDownload();"><span
                        class="icofont icofont-eye-alt"></span></a>
                    <h6 style="font-size: 12px"><span class="asterisk required">*</span>Note: Upload .pdf,.doc,.docx files only</h6>
                  </div>
                </div>
              </td>

              <td>
                <div class="row">
                  <div class="col-sm-3">
                    <strong class="strong">Deactive/Active :</strong>
                  </div>
                  <div class="col-sm-9">
                    <label class="switch">
                      <input type="checkbox" name="active" formControlName="activeflag" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <br>
        <div class="form-group row text-center">
          <div class="col-sm-12">
            <button type="button" *ngIf="isUpdate" class="btn btn-sm btn-success waves-effect waves-light m-r-10"
              [disabled]="!permissionModal.updateButtonFlag" (click)="onClickSave();">Update
            </button>
            <button type="button" *ngIf="isSave" class="btn btn-sm btn-success waves-effect waves-light m-r-10"
              [disabled]="!permissionModal.createButtonFlag" (click)="onClickSave();">Save
            </button>
            <button type="button" class="btn btn-sm btn-danger waves-effect waves-light m-r-10"
              (click)="onClickCancel()">Cancel</button>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>

<app-modal-basic #modalPdfViewer [hideHeader]="true" [hideFooter]="true" [dialogClass]="'modal-lg'">
  <div class="app-modal-body">
    <button type="button" class="close basic-close-light-box" (click)="modalPdfViewer.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div slimScroll railVisible="true" railColor="#004a6d" width="100%" height="100%" size="8px" color="#999"
      opacity="0.6" allowPageScroll="true">
      <iframe src="pdfSrc" id="pdfViewerId" height="100%" width="100%"></iframe>
    </div>
  </div>
</app-modal-basic>

<div *ngIf="spinnerFlag" class="loading">Loading&#8230;</div>